<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!--禁止缓存-->
    <META HTTP-EQUIV="pragma" CONTENT="no-cache">
    <META HTTP-EQUIV="Cache-Control" CONTENT="no-store, must-revalidate">
    <META HTTP-EQUIV="expires" CONTENT="Wed, 26 Feb 1997 08:21:57 GMT">
    <META HTTP-EQUIV="expires" CONTENT="0">
    <title>江苏省两化深度融合诊断服务平台 | 推进两化深度融合，助力江苏制造业高质量发展</title>
    <meta name="keywords" content="两化融合,工业诊断,数字化,企业信息化,江苏制造业,制造业转型,智能制造,工业互联网,企业上云,精益生产">
    <meta name="description" content="江苏省两化深度融合诊断服务平台：实施线上诊断与线下服务，给出适合企业的精益之路，推进两化深度融合，助力江苏制造业高质量发展。">
    <link rel="stylesheet" type="text/css" href="../css/common.css">
    <link rel="stylesheet" type="text/css" href="../css/enroll.css">
    <link rel="stylesheet" href="../js/layui/css/layui.css">
    <link rel="stylesheet" href="../css/submitCompleted.css">
    <link rel="stylesheet" href="../css/companySelfEvaluationResult.css">
    <link rel="stylesheet" href="../css/fangCss/shiJuan.css">
    <script type="text/javascript" src="../js/jquery.min.js"></script>
    <script type="text/javascript" src="../js/common.js"></script>
    <script src="../js/echarts/echarts.js"></script>
</head>
<style>
    #pageTwo {

        display: none;
    }

    .layui-upload-choose {
        position: absolute;
        top: 50px;
        left: 0px;
    }
</style>

<body>
<script src="../js/public/header.js"></script>
<script src="../js/public/nav.js"></script>
<!-- banner -->
<!--<div class="toptable">
    <div class="main">
        <div class="onetable">
            <div>企业报名</div>
            <div class="active">企业自评估</div>
            <div>职能部门推荐/遴选</div>
            <div>在线诊断服务</div>
            <div>查看诊断报告</div>
        </div>
        <div class="userback">
            <div class="header_img"></div>
            <div class="username">1111111</div>
            <div class="closeback">退出登录</div>
        </div>
    </div>
</div>-->
<div class="qysb">
    <div class="main_qycx">
        <div class="line_blue"></div>
        <div>企业自评估</div>
    </div>
</div>
<!-- container begin -->
<div class="container">
    <div class="cont_box">
        <div class="srjbxx">
            <img id="imgsrc" src="../images/enroll/0_2.png" alt="">
        </div>
        <div class="company-self-evaluation-result-content">
            <div class="evaluation-result-title">
                <img src="../images/companySelfEvaluationResult/evaluationResultCheck.png" id="evaluation-result-title-img" alt="">
                <div class="evaluation-result-title-info">
                    <span class="evaluation-result-title-info-title">您的<span id="paperName"></span>提交完成。</span>
                    <div id="continueEvaluationInfo" style="display: none" class="evaluation-result-title-info-tip">请继续填写<span id="continueEvaluationDataName" style="color:#1f8dfb"></span>自评估信息。</div>
                    <div id="finishedEvaluationInfo" style="display: none" class="evaluation-result-title-info-tip"><span>请耐心等待职能部门推荐/遴选。</span></div>
                </div>
            </div>
            <div id="radarContent" style="height: 350px;width: 350px;margin-left:345px;margin-top:20px"></div>
            <div id="radarContentInfo"></div>
        </div>
        <div class="company-self-evaluation-result-message">
            <textarea rows="10" id="company-self-evaluation-result-message" readonly></textarea>
        </div>
        <div class="company-self-evaluation-result-btn-content">
            <button id="companySelfEvaluation">返回企业自评估页面</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button id="continueEvaluation" style="display: none">继续输入自评信息</button>
            <button id="companyApprovalResult" style="display: none">职能部门推荐/遴选</button>
        </div>

    </div>
</div>
<!-- container end -->
<script src="../js/public/foot.js"></script>
<script type="text/javascript" src="../js/layui/layui.all.js"></script>

<script language="JavaScript">
    javascript:window.history.forward(1);
</script>

<script>
    base.requestJson({ type: "GET", url: base.interfaceObj.changeAdress.changeZpg, data: {} },
        function (res) {
            var adress = res.auth
            if (adress == "0") {
                $("#imgsrc").attr("src","../images/enroll/0_2.png")
            } else if (adress == "1") {
                $("#imgsrc").attr("src","../images/enroll/0_1.png")
            } else if (adress == "2") {
                $("#imgsrc").attr("src","../images/enroll/0_3.png")
            } else {
                $("#imgsrc").attr("src","../images/enroll/0_2.png")
            }
        }
    );
    var continueEvaluationData = '';
    // 退出登录页
    $(".closeback").click(function () {
        window.open('./../index.html')
        window.location.href = "";
        window.close();
    });
    // 获取url中的参数type
    function getUrlParam(name) {
        var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)"); //构造一个含有目标参数的正则表达式对象
        var r = window.location.search.substr(1).match(reg);  //匹配目标参数
        if (r != null) return unescape(r[2]);
        return null; //返回参数值
    }
    var type = getUrlParam("type");
    var papaerName = '';
    var paperAuth = '';

    // 将接口返回数据处理成雷达图格式数据
    function getRadarData(data, radarTitleName){
        var indicatorRadar = [];
        var seriesDataValue = [];
        var nameData = [];
        var maxData = [];
        for(var i = 0; i<data.length;i++){
            var indicatorRadarObject = {name: data[i].name, max: data[i].max};
            indicatorRadar.push(indicatorRadarObject);
            seriesDataValue.push(data[i].value);
            nameData.push(data[i].name);
            maxData.push(data[i].max)
        }
      /*  data.forEach(v => {
            var indicatorRadarObject = {name: v.name, max: v.max};
            indicatorRadar.push(indicatorRadarObject);
            seriesDataValue.push(v.value)
        });*/
       /* var nameData = data.map(v =>v.name);
        var maxData = data.map(v =>v.max);*/
        var option =  {
            title: {
                text: '',
                x:'center',
                y:'top'
            },
            tooltip: {},
            legend: {
                data: ['']
            },
            radar: {
                // shape: 'circle',
                name: {
                    textStyle: {
                        color: '#fff',
                        backgroundColor: '#fff',
                        borderRadius: 3,
                        padding: [3, 5]
                    },
                    show: true
                },
                indicator: [],
                splitArea: {
                    areaStyle:{
                        color: ["#fff"]
                    }
                },
            },
            series: [{
                type: 'radar',
                data: [
                    {
                        value: []
                    }
                ],
                lineStyle: {
                    width: 2,
                    color: '#24649e'
                },
                itemStyle:{
                    normal: {
                        color: '#24649e'
                    }
                },/*
                tooltip: {
                    trigger: 'item',
                    formatter: function(a){
                    }
                },*/
            }],
        };
        option.title.text = this.radarTitleName;
        option.radar.indicator = indicatorRadar;
        //option.legend.data[0] = radarTitleName;
        option.series[0].data[0].value = seriesDataValue;
        option.series[0].data[0].name = radarTitleName;
        /*option.series[0].tooltip.formatter = function(a){
            var name = nameData;
            var str = a.name+'<br>'
            var data = a.value
            for(var i=0;i<name.length;i++){
                str += name[i]+'： 评估数值'+ data[i] + '， 得分'+ ((data[i]/maxData[i]) * 100).toFixed(0) + '分 <br>'
            }
            return str
        };*/
        return option;
    }

    // 根据type 获取对应雷达图数据并渲染
    if (this.type == '1') {
        this.papaerName = '工业互联网平台建设诊断自评估信息';
        $("#paperName").text(this.papaerName);
        this.radarTitleName = '工业互联网平台建设诊断自评估结果';
        base.requestJson({ type: "GET", url: base.interfaceObj.companySelfEvaluationResult.maturityRadar, data: {} },
            function (res) {
                if(res.code === 200) {
                    var maturityMessage = '';
                    if ((res.data.summary) && (res.data.summary !== '') && (res.data.summary !== null) && (res.data.summary !== undefined)) {
                        maturityMessage +=  res.data.summary;
                    }
                    if ((res.data.items) && (res.data.items.length > 0)) {
                        var maturityRadarInfo = document.getElementById("radarContentInfo");
                        var maturityRadarData = this.getRadarData(res.data.items, this.radarTitleName);
                        var mychartMaturityRadar = echarts.init(document.getElementById('radarContent'));
                        mychartMaturityRadar.setOption(maturityRadarData);
                        for(var j = 0; j< res.data.items.length;j++){
                            var maturitydiv = document.createElement('div');
                            maturitydiv.innerHTML = res.data.items[j].name+": "+res.data.items[j].value;
                            maturityRadarInfo.appendChild(maturitydiv);
                            if ((res.data.items[j].msg) && (res.data.items[j].msg !== '') && (res.data.items[j].msg !== null) && (res.data.items[j].msg !== undefined)) {
                                if (j === 0) {
                                    if (maturityMessage === '') {
                                        if (res.data.items[j].msg) {
                                            maturityMessage += res.data.items[j].name + "：" + res.data.items[j].msg
                                        }
                                    } else {
                                        if (res.data.items[j].msg) {
                                            maturityMessage += "\r\n"+ res.data.items[j].name + "："+res.data.items[j].msg
                                        }
                                    }
                                } else {
                                    if (res.data.items[j].msg) {
                                        maturityMessage += "\r\n" + res.data.items[j].name + "：" +res.data.items[j].msg
                                    }
                                }
                            }
                        }
                       /* res.data.items.forEach((v,index) => {
                            var maturitydiv = document.createElement('div');
                            maturitydiv.innerHTML = v.name+": "+v.value;
                            maturityRadarInfo.appendChild(maturitydiv);
                            if ((v.msg) && (v.msg !== '') && (v.msg !== null) && (v.msg !== undefined)) {
                                if (index === 0) {
                                    if (maturityMessage === '') {
                                        if (v.msg) {
                                            maturityMessage += v.name + "：" + v.msg
                                        }
                                    } else {
                                        if (v.msg) {
                                            maturityMessage += "\r\n"+ v.name + "："+v.msg
                                        }
                                    }
                                } else {
                                    if (v.msg) {
                                        maturityMessage += "\r\n" + v.name + "：" +v.msg
                                    }
                                }
                            }
                        });*/
                        $("#company-self-evaluation-result-message").text(maturityMessage)
                    }
                } else if (res.code === 5001001) {
                    window.location.href = "jqLogin.html"
                } else {
                    layui.use('layer', function () {
                        var layer = layui.layer;
                        layer.open({
                            type: 1
                            , id: 'layerDemo' + Math.random()
                            , offset: '100px'
                            , content: '<div style="padding: 20px 100px;">获取自评估雷达图数据错误，请稍后再试或联系管理员</div>'
                            , btn: '关闭全部'
                            , btnAlign: 'c' //按钮居中
                            , shade: 0 //不显示遮罩
                            , yes: function () {
                                layer.closeAll();
                            }
                        });
                    });
                }
            }
        )

    } else if (this.type == '2'){
        this.papaerName = '工业互联网标杆工厂建设诊断自评估信息';
        $("#paperName").text(this.papaerName);
        this.radarTitleName = '工业互联网标杆工厂建设诊断自评估结果';
        base.requestJson({ type: "GET", url: base.interfaceObj.companySelfEvaluationResult.capabilityRadar, data: {} },
            function (res) {
                if(res.code === 200) {
                    var capabilityMessage = '';
                    if ((res.data.summary) && (res.data.summary !== '') && (res.data.summary !== null) && (res.data.summary !== undefined)) {
                        capabilityMessage +=  res.data.summary;
                    }
                    if ((res.data.items) && (res.data.items.length > 0)) {
                        var capabilityRadarInfo = document.getElementById("radarContentInfo");
                        var capabilityRadarData = this.getRadarData(res.data.items, this.radarTitleName);
                        var mychartCapabilityRadar = echarts.init(document.getElementById('radarContent'));
                        mychartCapabilityRadar.setOption(capabilityRadarData);
                        for(var k = 0; k< res.data.items.length;k++){
                            var capabilitydiv = document.createElement('div');
                            capabilitydiv.innerHTML = res.data.items[k].name+": "+res.data.items[k].value;
                            capabilityRadarInfo.appendChild(capabilitydiv);
                            if ((res.data.items[k].msg) && (res.data.items[k].msg !== '') && (res.data.items[k].msg !== null) && (res.data.items[k].msg !== undefined)) {
                                if (k === 0) {
                                    if (capabilityMessage === '') {
                                        if (res.data.items[k].msg) {
                                            capabilityMessage += res.data.items[k].name + "：" + res.data.items[k].msg
                                        }
                                    } else {
                                        if (res.data.items[k].msg) {
                                            capabilityMessage += "\r\n"+ res.data.items[k].name + "："+res.data.items[k].msg
                                        }
                                    }
                                } else {
                                    if (res.data.items[k].msg) {
                                        capabilityMessage += "\r\n"+ res.data.items[k].name + "："+res.data.items[k].msg
                                    }

                                }
                            }
                        }
                       /* res.data.items.forEach((v,index) => {
                            var capabilitydiv = document.createElement('div');
                            capabilitydiv.innerHTML = v.name+": "+v.value;
                            capabilityRadarInfo.appendChild(capabilitydiv);
                            if ((v.msg) && (v.msg !== '') && (v.msg !== null) && (v.msg !== undefined)) {
                                if (index === 0) {
                                    if (capabilityMessage === '') {
                                        if (v.msg) {
                                            capabilityMessage += v.name + "：" + v.msg
                                        }
                                    } else {
                                        if (v.msg) {
                                            capabilityMessage += "\r\n"+ v.name + "："+v.msg
                                        }
                                    }
                                } else {
                                    if (v.msg) {
                                        capabilityMessage += "\r\n"+ v.name + "："+v.msg
                                    }

                                }
                            }
                        });*/
                        $("#company-self-evaluation-result-message").text(capabilityMessage)
                    }
                } else if (res.code === 5001001) {
                    window.location.href = "jqLogin.html"
                } else {
                    layui.use('layer', function () {
                        var layer = layui.layer;
                        layer.open({
                            type: 1
                            , id: 'layerDemo' + Math.random()
                            , offset: '100px'
                            , content: '<div style="padding: 20px 100px;">获取自评估雷达图数据错误，请稍后再试或联系管理员</div>'
                            , btn: '关闭全部'
                            , btnAlign: 'c' //按钮居中
                            , shade: 0 //不显示遮罩
                            , yes: function () {
                                layer.closeAll();
                            }
                        });
                    });
                }
            }
        )
    } else if (this.type == '3') {
        this.papaerName = '企业上云诊断自评估信息';
        $("#paperName").text(this.papaerName);
        this.radarTitleName = '企业上云诊断自评估结果';
        base.requestJson({ type: "GET", url: base.interfaceObj.companySelfEvaluationResult.cloudRadar, data: {} },
            function (res) {
                if(res.code === 200) {
                    var cloudMessage = '';
                    if ((res.data.summary) && (res.data.summary !== '') && (res.data.summary !== null) && (res.data.summary !== undefined)) {
                        cloudMessage +=  res.data.summary;
                    }
                    if ((res.data.items) && (res.data.items.length > 0)) {
                        var cloudRadarInfo = document.getElementById("radarContentInfo");
                        var cloudRadarData = this.getRadarData(res.data.items, this.radarTitleName);
                        var mychartCloudRadar = echarts.init(document.getElementById('radarContent'));
                        mychartCloudRadar.setOption(cloudRadarData);
                        for(var m = 0; m< res.data.items.length;m++){
                            var clouddiv = document.createElement('div');
                            clouddiv.innerHTML = res.data.items[m].name+": "+res.data.items[m].value;
                            cloudRadarInfo.appendChild(clouddiv);
                            if ((res.data.items[m].msg) && (res.data.items[m].msg !== '') && (res.data.items[m].msg !== null) && (res.data.items[m].msg !== undefined)) {
                                if (m === 0) {
                                    if (cloudMessage === '') {
                                        if (res.data.items[m].msg) {
                                            cloudMessage += v.name + "：" + res.data.items[m].msg
                                        }
                                    } else {
                                        if (res.data.items[m].msg) {
                                            cloudMessage += "\r\n"+ res.data.items[m].name + "："+res.data.items[m].msg
                                        }
                                    }
                                } else {
                                    if (res.data.items[m].msg) {
                                        cloudMessage += "\r\n"+ res.data.items[m].name + "："+res.data.items[m].msg
                                    }
                                }
                            }
                        }
                        /*res.data.items.forEach((v,index) => {
                            var clouddiv = document.createElement('div');
                            clouddiv.innerHTML = v.name+": "+v.value;
                            cloudRadarInfo.appendChild(clouddiv);
                            if ((v.msg) && (v.msg !== '') && (v.msg !== null) && (v.msg !== undefined)) {
                                if (index === 0) {
                                    if (cloudMessage === '') {
                                        if (v.msg) {
                                            cloudMessage += v.name + "：" + v.msg
                                        }
                                    } else {
                                        if (v.msg) {
                                            cloudMessage += "\r\n"+ v.name + "："+v.msg
                                        }
                                    }
                                } else {
                                    if (v.msg) {
                                        cloudMessage += "\r\n"+ v.name + "："+v.msg
                                    }
                                }
                            }
                        });*/
                        $("#company-self-evaluation-result-message").text(cloudMessage)
                    }
                } else if (res.code === 5001001) {
                    window.location.href = "jqLogin.html"
                } else {
                    layui.use('layer', function () {
                        var layer = layui.layer;
                        layer.open({
                            type: 1
                            , id: 'layerDemo' + Math.random()
                            , offset: '100px'
                            , content: '<div style="padding: 20px 100px;">获取自评估雷达图数据错误，请稍后再试或联系管理员</div>'
                            , btn: '关闭全部'
                            , btnAlign: 'c' //按钮居中
                            , shade: 0 //不显示遮罩
                            , yes: function () {
                                layer.closeAll();
                            }
                        });
                    });
                }
            }
        )
    }

    // 加载自评估结果按钮
    base.requestJson({ type: "GET", url: base.interfaceObj.companySelfEvaluationResult.loadPaperButton, data: {} },
        function (res) {
            if(res.code === 200) {
                if ((res.data) && (res.data.length > 0)) {
                    this.continueEvaluationData = res.data;
                  /*  var continueEvaluationDataName = res.data.map(v => v.papername).join('、');
                    $("#continueEvaluationDataName").text(continueEvaluationDataName);*/
                    var mspan = document.getElementById("continueEvaluationDataName");
                    for(var i=0;i<this.continueEvaluationData.length;i++){
                        var aEl = document.createElement("a");
                        var aClickUrl = "";
                        if (this.continueEvaluationData[i].paperid == '1') {
                            aClickUrl = "industrialOne.html?paperid="+ this.continueEvaluationData[i].paperid +"&enterpriseId="+ this.continueEvaluationData[i].enterpriseid+"&nav=1";
                        } else if(this.continueEvaluationData[i].paperid == '2') {
                            aClickUrl = "capacityOne.html?paperid="+ this.continueEvaluationData[i].paperid +"&enterpriseId="+ this.continueEvaluationData[i].enterpriseid+"&nav=1";
                        } else if (this.continueEvaluationData[i].paperid == '3') {
                            aClickUrl = "qiyeYunOne.html?paperid="+ this.continueEvaluationData[i].paperid +"&enterpriseId="+ this.continueEvaluationData[i].enterpriseid+"&nav=1";
                        } else if (this.continueEvaluationData[i].paperid == '0') {
                            aClickUrl = "leanMaturityDiagnosis.html?enterpriseCode="+this.continueEvaluationData[i].enterpriseCode+"&userId="+this.continueEvaluationData[i].userId+"&textId="+this.continueEvaluationData[i].textId+"&diagnosisYear="+this.continueEvaluationData[i].diagnosisYear+"&enterpriseName="+encodeURI(this.continueEvaluationData[i].enterpriseName)+"&telphone="+this.continueEvaluationData[i].telphone+"&province="+encodeURI(this.continueEvaluationData[i].province)+"&city="+encodeURI(this.continueEvaluationData[i].city)+"&userName="+encodeURI(this.continueEvaluationData[i].userName)+"&nav=1";
                        }
                        aEl.setAttribute('href', aClickUrl);
                        if (i === (this.continueEvaluationData.length -1)) {
                            aEl.innerText = this.continueEvaluationData[i].papername;
                        } else {
                            aEl.innerText = this.continueEvaluationData[i].papername+'、';
                        }
                        aEl.style.color="#1f8dfb";
                        mspan.appendChild(aEl);
                    }
                }
                this.paperAuth = res.auth;
                if (res.auth == '1') {
                    // 动态加载按钮
                  $("#continueEvaluation").css("display", 'inline-block');
                  $("#companyApprovalResult").css("display", 'none');
                  // 动态加载标题文字内容
                  $("#continueEvaluationInfo").css("display", 'inline-block');
                  $("#finishedEvaluationInfo").css("display", 'none');
                  $("#evaluation-result-title-img").css("top","-18px")
               } else if (res.auth == '2') {
                    // 动态加载按钮
                   $("#continueEvaluation").css("display", 'none');
                   $("#companyApprovalResult").css("display", 'inline-block');
                    // 动态加载标题文字内容
                   $("#continueEvaluationInfo").css("display", 'none');
                   $("#finishedEvaluationInfo").css("display", 'inline-block');
                   $("#evaluation-result-title-img").css("top","-18px")
               } else if (res.auth == '3') {
                    // 动态加载按钮
                    $("#continueEvaluation").css("display", 'none');
                    $("#companyApprovalResult").css("display", 'inline-block');
                    // 动态加载标题文字内容
                    $("#continueEvaluationInfo").css("display", 'none');
                    $("#finishedEvaluationInfo").css("display", 'none');
                    $("#evaluation-result-title-img").css("top","0");
                   /*     if ((res.data) && (res.data.length > 0)) {
                            // 动态加载按钮
                            $("#continueEvaluation").css("display", 'inline-block');
                            $("#companyApprovalResult").css("display", 'none');
                            // 动态加载标题文字内容
                            $("#continueEvaluationInfo").css("display", 'inline-block');
                            $("#finishedEvaluationInfo").css("display", 'none')
                        } else {
                            // 动态加载按钮
                            $("#continueEvaluation").css("display", 'none');
                            $("#companyApprovalResult").css("display", 'inline-block');
                            // 动态加载标题文字内容
                            $("#continueEvaluationInfo").css("display", 'none');
                            $("#finishedEvaluationInfo").css("display", 'inline-block')
                        }
                        layui.use('layer', function () {
                            var layer = layui.layer;
                            layer.open({
                                type: 1
                                , id: 'layerDemo' + Math.random()
                                , offset: '100px'
                                , content: '<div style="padding: 20px 100px;">请勿重复提交</div>'
                                , btn: '关闭全部'
                                , btnAlign: 'c' //按钮居中
                                , shade: 0 //不显示遮罩
                                , yes: function () {
                                    layer.closeAll();
                                }
                            });
                        });
                        //layer.msg("请勿重复提交", { time: 3000 });*/
               }
            } else if (res.code === 5001001) {
                window.location.href = "jqLogin.html"
            } else {
                layui.use('layer', function () {
                    var layer = layui.layer;
                    layer.open({
                        type: 1
                        , id: 'layerDemo' + Math.random()
                        , offset: '100px'
                        , content: '<div style="padding: 20px 100px;">获取自评估相关数据失败，请刷新页面或联系管理员</div>'
                        , btn: '关闭全部'
                        , btnAlign: 'c' //按钮居中
                        , shade: 0 //不显示遮罩
                        , yes: function () {
                            layer.closeAll();
                        }
                    });
                });
            }
        }
    );

    // 返回企业自评估页面
    $("#companySelfEvaluation").click(function () {
        if (paperAuth == '1') {
            window.location.href = "zipingWeikaishi.html?nav=1";
        } else if (paperAuth == '2') {
            window.location.href = "zipingWeikaishi.html?nav=1";
        } else if (paperAuth == '3') {
            if ((continueEvaluationData == '') || (continueEvaluationData == null) || (JSON.stringify(continueEvaluationData) == '[]')) {
                window.location.href = "zipingWeikaishi.html?nav=1";
            } else {
                window.location.href = "zipingWeikaishi.html?nav=1";
            }
        }
    });

    // 返回职能部门推荐/遴选页面
    $("#companyApprovalResult").click(function () {
        window.location.href = "companyApprovalResult/approvalResult.html?nav=2";
    });

        // 继续输入自评信息
    $("#continueEvaluation").click(function () {
        if (continueEvaluationData !== '') {
           if (continueEvaluationData[0].paperid == '1') {
                var oneUrl = "industrialOne.html?paperid="+ continueEvaluationData[0].paperid +"&enterpriseId="+continueEvaluationData[0].enterpriseid+"&nav=1";
                window.location.href = oneUrl;
            } else if (continueEvaluationData[0].paperid == '2') {
                var twoUrl = "capacityOne.html?paperid="+ continueEvaluationData[0].paperid +"&enterpriseId="+continueEvaluationData[0].enterpriseid+"&nav=1";
                window.location.href = twoUrl;
            } else if (continueEvaluationData[0].paperid == '3') {
                var threeUrl = "qiyeYunOne.html?paperid="+ continueEvaluationData[0].paperid +"&enterpriseId="+continueEvaluationData[0].enterpriseid+"&nav=1";
                window.location.href = threeUrl;
            } else if (continueEvaluationData[0].paperid == '0') {
                var fourUrl = "leanMaturityDiagnosis.html?enterpriseCode="+continueEvaluationData[0].enterpriseCode+"&userId="+continueEvaluationData[0].userId+"&textId="+continueEvaluationData[0].textId+"&diagnosisYear="+continueEvaluationData[0].diagnosisYear+"&enterpriseName="+encodeURI(continueEvaluationData[0].enterpriseName)+"&telphone="+continueEvaluationData[0].telphone+"&province="+encodeURI(continueEvaluationData[0].province)+"&city="+encodeURI(continueEvaluationData[0].city)+"&userName="+encodeURI(continueEvaluationData[0].userName)+"&nav=1";
                window.location.href = fourUrl;
            }
        }
    });
</script>


;
