<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!--禁止缓存-->
    <META HTTP-EQUIV="pragma" CONTENT="no-cache">
    <META HTTP-EQUIV="Cache-Control" CONTENT="no-store, must-revalidate">
    <META HTTP-EQUIV="expires" CONTENT="Wed, 26 Feb 1997 08:21:57 GMT">
    <META HTTP-EQUIV="expires" CONTENT="0">
    <title>江苏省两化深度融合诊断服务平台 | 推进两化深度融合，助力江苏制造业高质量发展</title>
    <meta name="keywords" content="两化融合,工业诊断,数字化,企业信息化,江苏制造业,制造业转型,智能制造,工业互联网,企业上云,精益生产">
    <meta name="description" content="江苏省两化深度融合诊断服务平台：实施线上诊断与线下服务，给出适合企业的精益之路，推进两化深度融合，助力江苏制造业高质量发展。">
    <link rel="stylesheet" type="text/css" href="../css/common.css">
    <link rel="stylesheet" type="text/css" href="../css/enroll.css">
    <link rel="stylesheet" href="../js/layui/css/layui.css">
    <link rel="stylesheet" href="../css/industrialMaturity.css">
    <link rel="stylesheet" href="../css/fangCss/shiJuan.css">
</head>
<style>
    #pageTwo {

        display: none;
    }

    .layui-upload-choose {
        position: absolute;
        top: 50px;
        left: 0px;
    }
</style>

<script type="text/javascript" src="../js/jquery.min.js"></script>
<script type="text/javascript" src="../js/common.js"></script>
<body>
        <script src="../js/public/header.js"></script>
        <script src="../js/public/nav.js"></script>
    <!-- banner -->
    <!-- <div class="toptable">
        <div class="main">
            <div class="onetable">
                <div><a href="./enroll.html"><span style="color:white">企业报名</span></a></div>
                <div class="active">企业自评估</div>
                <div>职能部门推荐/遴选</div>
                <div>在线诊断服务</div>
                <div>查看诊断报告</div>
            </div>
            <div class="userback">
                <div class="header_img"></div>
                <div class="username">1111111</div>
                <div class="closeback">退出登录</div>
            </div>
        </div>
    </div> -->
    <!-- container begin -->
    <div class="container">
        <div class="cont_box"  style="margin-bottom:50px">
            <div class="srjbxx">
                <img id="imgsrc" src="../images/enroll/0_2.png" alt="">
            </div>

            <!-- <div class="container"> -->
            <div style="width:1200px;margin: 0 auto;">


                <!-- 企业自评估信息 -->

                <div class="title_sm" style="margin-bottom: 10px"><span class="line_blue">&nbsp| </span>企业自评估信息</div>
                <div class="common_margin">
                    <div class="gyhljs">企业上云描述</div>
                    <div id="j1" class="js_content"></div>
                    <div class="gyhljs">企业上云业务及应用</div>
                    <!-- <div> -->
                    <div class="dis_flex title_top">
                        <div style="width:12%; text-align: center;">类</div>
                        <div style="width:12%;text-align: center;">子类</div>
                        <div style="width:12%;text-align: center;">域</div>
                        <div style="width:12%;text-align: center;">子域</div>
                        <div style="width:52%;text-align: center;">是否上云</div>
                    </div>
                    <div class="zpginformatin_two dis_flex">
                        <div class="width_12">
                            <div>业务上云</div>
                        </div>

                        <div class="width_88">
                            <div class='width_88_100 dis_flex'>
                                <div class="width_13 border_bottom">
                                    <div>工业APP应用</div>
                                </div>

                                <div class="width_87">
                                    <div class="width_87_100 border_left dis_flex">
                                        <div class="width_16 border_bottom ">设计</div>

                                        <div class="width_84_01">
                                            <div class="width_81_01_100 border_left dis_flex">
                                                <div class="width_19   bottom_line">研发设计应用</div>
                                                <div class="width_81_01 border_left">
                                                    <div id="j2" class=" line_h_45_center border_bottom "></div>
                                                    <div id="j02" class="change_h_45_bottom ">

                                                    </div>
                                                </div>
                                            </div>

                                            <div class="width_81_01_100 border_left dis_flex">
                                                <div class="width_19  bottom_line">研发设计案例库</div>
                                                <div class="width_81_01 border_left">
                                                    <div id="j3" class=" line_h_45_center border_bottom"></div>
                                                    <div id="j03" class="change_h_45_bottom ">

                                                    </div>
                                                </div>
                                            </div>

                                            <div class="width_81_01_100 border_left dis_flex">
                                                <div class="width_19  border_bottom">研发设计协同</div>
                                                <div class="width_81_01 border_left">
                                                    <div id="j4" class=" line_h_45_center border_bottom"></div>
                                                    <div id="j04" class="change_h_45_bottom ">

                                                    </div>
                                                </div>
                                            </div>

                                        </div>

                                    </div>


                                    <div class="width_87_100 border_left dis_flex">
                                        <div class="width_16  border_bottom">生产</div>
                                        <div class="width_84_01">
                                            <div class="width_81_01_100 border_left dis_flex">
                                                <div class="width_19   bottom_line">生产排产管理</div>
                                                <div class="width_81_01 border_left">
                                                    <div id="j5" class=" line_h_45_center border_bottom"></div>
                                                    <div id="j05" class="change_h_45_bottom ">

                                                    </div>
                                                </div>
                                            </div>

                                            <div class="width_81_01_100 border_left dis_flex">
                                                <div class="width_19  bottom_line">制造执行系统</div>
                                                <div class="width_81_01 border_left">
                                                    <div id="j6" class=" line_h_45_center border_bottom"></div>
                                                    <div id="j06" class="change_h_45_bottom ">

                                                    </div>
                                                </div>
                                            </div>

                                        </div>

                                    </div>

                                    <div class="width_87_100 border_left dis_flex">
                                        <div class="width_16  border_bottom">供应链</div>
                                        <div class="width_84_01">
                                            <div class="width_81_01_100 border_left dis_flex">
                                                <div class="width_19   bottom_line">供应链关系管理</div>
                                                <div class="width_81_01 border_left">
                                                    <div id="j7" class=" line_h_45_center border_bottom"></div>
                                                    <div id="j07" class="change_h_45_bottom ">

                                                    </div>
                                                </div>
                                            </div>

                                            <div class="width_81_01_100 border_left dis_flex">
                                                <div class="width_19  bottom_line">采购管理</div>
                                                <div class="width_81_01 border_left">
                                                    <div id="j8" class=" line_h_45_center border_bottom"></div>
                                                    <div id="j08" class="change_h_45_bottom ">

                                                    </div>
                                                </div>
                                            </div>

                                            <div class="width_81_01_100 border_left dis_flex">
                                                <div class="width_19  bottom_line">物流管理</div>
                                                <div class="width_81_01 border_left">
                                                    <div id="j9" class=" line_h_45_center border_bottom"></div>
                                                    <div id="j09" class="change_h_45_bottom ">

                                                    </div>
                                                </div>
                                            </div>

                                            <div class="width_81_01_100 border_left dis_flex">
                                                <div class="width_19  bottom_line">企业资源规划</div>
                                                <div class="width_81_01 border_left">
                                                    <div id="j10" class=" line_h_45_center border_bottom"></div>
                                                    <div id="j010" class="change_h_45_bottom ">

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="width_87_100 border_left dis_flex">
                                        <div class="width_16  border_bottom">销售</div>
                                        <div class="width_84_01">
                                            <div class="width_81_01_100 border_left dis_flex">
                                                <div class="width_19   bottom_line">电商系统</div>
                                                <div class="width_81_01 border_left">
                                                    <div id="j11" class=" line_h_45_center border_bottom"></div>
                                                    <div id="j011" class="change_h_45_bottom ">

                                                    </div>
                                                </div>
                                            </div>

                                        </div>

                                    </div>


                                    <div class="width_87_100 border_left dis_flex">
                                        <div class="width_16  border_bottom">服务</div>
                                        <div class="width_84_01">
                                            <div class="width_81_01_100 border_left dis_flex">
                                                <div class="width_19   bottom_line">客户资源管理</div>
                                                <div class="width_81_01 border_left">
                                                    <div id="j12" class=" line_h_45_center border_bottom"></div>
                                                    <div id="j012" class="change_h_45_bottom ">

                                                    </div>
                                                </div>
                                            </div>

                                            <div class="width_81_01_100 border_left dis_flex">
                                                <div class="width_19  bottom_line">客户服务</div>
                                                <div class="width_81_01 border_left">
                                                    <div id="j13" class=" line_h_45_center border_bottom"></div>
                                                    <div id="j013" class="change_h_45_bottom ">

                                                    </div>
                                                </div>
                                            </div>

                                        </div>

                                    </div>


                                    <div class="width_87_100 border_left dis_flex">
                                        <div class="width_30_00  border_bottom">其他工业 APP 应用</div>
                                        <div class="width_70_01">
                                            <div class="width_81_01_100 border_left dis_flex">
                                                <div class="width_81_01_00 ">
                                                    <div id="j14" class=" line_h_45_center border_bottom"></div>
                                                    <div id="j014" class="change_h_45_bottom ">

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>


                            <div class='width_88_100 dis_flex'>
                                <div class="width_13 ">
                                    <div>基础云服务</div>
                                </div>

                                <div class="width_87">



                                    <div class="width_87_100 border_left dis_flex">
                                        <div class="width_30_00  border_bottom">计算机资源</div>
                                        <div class="width_70_01">
                                            <div class="width_81_01_100 border_left dis_flex">
                                                <div class="width_81_01_00 ">
                                                    <div id="j15" class=" line_h_45_center border_bottom"></div>
                                                    <div id="j015" class="change_h_45_bottom ">

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>



                                    <div class="width_87_100 border_left dis_flex">
                                        <div class="width_30_00  border_bottom">储存资源</div>
                                        <div class="width_70_01">
                                            <div class="width_81_01_100 border_left dis_flex">
                                                <div class="width_81_01_00 ">
                                                    <div id="j16" class=" line_h_45_center border_bottom"></div>
                                                    <div id="j016" class="change_h_45_bottom ">

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>




                                    <div class="width_87_100 border_left dis_flex">
                                        <div class="width_30_00  border_bottom">数据库</div>
                                        <div class="width_70_01">
                                            <div class="width_81_01_100 border_left dis_flex">
                                                <div class="width_81_01_00 ">
                                                    <div id="j17" class=" line_h_45_center border_bottom"></div>
                                                    <div id="j017" class="change_h_45_bottom ">

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="width_87_100 border_left dis_flex">
                                        <div class="width_30_00  border_bottom">管理工具</div>
                                        <div class="width_70_01">
                                            <div class="width_81_01_100 border_left dis_flex">
                                                <div class="width_81_01_00 ">
                                                    <div id="j18" class=" line_h_45_center border_bottom"></div>
                                                    <div id="j018" class="change_h_45_bottom ">

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>



                                    <div class="width_87_100 border_left dis_flex">
                                        <div class="width_16  ">安全</div>

                                        <div class="width_84_01">
                                            <div class="width_81_01_100 border_left dis_flex">
                                                <div class="width_19   bottom_line">数据安全</div>
                                                <div class="width_81_01 border_left">
                                                    <div id="j19" class=" line_h_45_center border_bottom"></div>
                                                    <div id="j019" class="change_h_45_bottom ">

                                                    </div>
                                                </div>
                                            </div>

                                            <div class="width_81_01_100 border_left dis_flex">
                                                <div class="width_19  bottom_line">业务安全</div>
                                                <div class="width_81_01 border_left">
                                                    <div id="j20" class=" line_h_45_center border_bottom"></div>
                                                    <div id="j020" class="change_h_45_bottom ">

                                                    </div>
                                                </div>
                                            </div>

                                            <div class="width_81_01_100 border_left dis_flex">
                                                <div class="width_19  border_bottom">网络安全</div>
                                                <div class="width_81_01 border_left">
                                                    <div id="j21" class=" line_h_45_center border_bottom"></div>
                                                    <div id="j021" class="change_h_45_bottom ">

                                                    </div>
                                                </div>
                                            </div>

                                            <div class="width_81_01_100 border_left dis_flex">
                                                <div class="width_19  bottom_line">工业系统安全</div>
                                                <div class="width_81_01 border_left">
                                                    <div id="j22" class=" line_h_45_center border_bottom"></div>
                                                    <div id="j022" class="change_h_45_bottom ">

                                                    </div>
                                                </div>
                                            </div>

                                            <div class="width_81_01_100 border_left dis_flex">
                                                <div class="width_19 ">云灾备</div>
                                                <div class="width_81_01 border_left">
                                                    <div id="j23" class=" line_h_45_center"></div>
                                                    <div id="j023"
                                                        class="change_h_45_bottom bottom_line_none border_top">

                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                    <!--上云二 -->
                    <div class="zpginformatin_two dis_flex">
                        <div class="width_12">
                            <div>数据和设备上云</div>
                        </div>
                        <div class="width_88">

                            <div class='width_88_100 dis_flex'>
                                <div class="width_13 border_bottom">
                                    <div>数据上云</div>
                                </div>

                                <div class="width_87">

                                    <div class="width_87_100 border_left dis_flex">
                                        <div class="width_30_00  border_bottom">基础数据</div>
                                        <div class="width_70_01">
                                            <div class="width_81_01_100 border_left dis_flex">
                                                <div class="width_81_01_00 ">
                                                    <div id="j24" class=" line_h_45_center border_bottom"></div>
                                                    <div id="j024" class="change_h_45_bottom ">

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="width_87_100 border_left dis_flex">
                                        <div class="width_30_00  border_bottom">设计数据</div>
                                        <div class="width_70_01">
                                            <div class="width_81_01_100 border_left dis_flex">
                                                <div class="width_81_01_00 ">
                                                    <div id="j25" class=" line_h_45_center border_bottom"></div>
                                                    <div id="j025" class="change_h_45_bottom ">

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="width_87_100 border_left dis_flex">
                                        <div class="width_30_00  border_bottom">生产数据</div>
                                        <div class="width_70_01">
                                            <div class="width_81_01_100 border_left dis_flex">
                                                <div class="width_81_01_00 ">
                                                    <div id="j26" class=" line_h_45_center border_bottom"></div>
                                                    <div id="j026" class="change_h_45_bottom ">

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="width_87_100 border_left dis_flex">
                                        <div class="width_30_00  border_bottom">供应链数据</div>
                                        <div class="width_70_01">
                                            <div class="width_81_01_100 border_left dis_flex">
                                                <div class="width_81_01_00 ">
                                                    <div id="j27" class=" line_h_45_center border_bottom"></div>
                                                    <div id="j027" class="change_h_45_bottom ">

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="width_87_100 border_left dis_flex">
                                        <div class="width_30_00  border_bottom">销售数据</div>
                                        <div class="width_70_01">
                                            <div class="width_81_01_100 border_left dis_flex">
                                                <div class="width_81_01_00 ">
                                                    <div id="j28" class=" line_h_45_center border_bottom"></div>
                                                    <div id="j028" class="change_h_45_bottom ">

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="width_87_100 border_left dis_flex">
                                        <div class="width_30_00  border_bottom">服务数据</div>
                                        <div class="width_70_01">
                                            <div class="width_81_01_100 border_left dis_flex">
                                                <div class="width_81_01_00 ">
                                                    <div id="j29" class=" line_h_45_center border_bottom"></div>
                                                    <div id="j029" class="change_h_45_bottom ">

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class='width_88_100 dis_flex'>
                                <div class="width_13 border_bottom">
                                    <div>设备接入</div>
                                </div>

                                <div class="width_87">

                                    <div class="width_87_100 border_left dis_flex">
                                        <div class="width_30_00  border_bottom">高能耗设备</div>
                                        <div class="width_70_01">
                                            <div class="width_81_01_100 border_left dis_flex">
                                                <div class="width_81_01_00 ">
                                                    <div id="j30" class=" line_h_45_center border_bottom"></div>
                                                    <div id="j030" class="change_h_45_bottom ">

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="width_87_100 border_left dis_flex">
                                        <div class="width_30_00  border_bottom">通用动力设备</div>
                                        <div class="width_70_01">
                                            <div class="width_81_01_100 border_left dis_flex">
                                                <div class="width_81_01_00 ">
                                                    <div id="j31" class=" line_h_45_center border_bottom"></div>
                                                    <div id="j031" class="change_h_45_bottom ">

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="width_87_100 border_left dis_flex">
                                        <div class="width_30_00  border_bottom">新能源设备</div>
                                        <div class="width_70_01">
                                            <div class="width_81_01_100 border_left dis_flex">
                                                <div class="width_81_01_00 ">
                                                    <div id="j32" class=" line_h_45_center border_bottom"></div>
                                                    <div id="j032" class="change_h_45_bottom ">

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="width_87_100 border_left dis_flex">
                                        <div class="width_30_00  border_bottom">智能装备</div>
                                        <div class="width_70_01">
                                            <div class="width_81_01_100 border_left dis_flex">
                                                <div class="width_81_01_00 ">
                                                    <div id="j33" class=" line_h_45_center border_bottom"></div>
                                                    <div id="j033" class="change_h_45_bottom ">

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="width_87_100 border_left dis_flex">
                                        <div class="width_30_00  border_bottom">其它设备</div>
                                        <div class="width_70_01">
                                            <div class="width_81_01_100 border_left dis_flex">
                                                <div class="width_81_01_00 ">
                                                    <div id="j34" class=" line_h_45_center border_bottom"></div>
                                                    <div id="j034" class="change_h_45_bottom ">

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>



                            <div class='width_88_100 dis_flex'>
                                <div class="width_13 border_bottom">
                                    <div>边缘计算</div>
                                </div>

                                <div class="width_87">

                                    <div class="width_87_100 border_left dis_flex">
                                        <div class="width_30_00  border_bottom">数据处理</div>
                                        <div class="width_70_01">
                                            <div class="width_81_01_100 border_left dis_flex">
                                                <div class="width_81_01_00 ">
                                                    <div id="j35" class=" line_h_45_center border_bottom"></div>
                                                    <div id="j035" class="change_h_45_bottom ">

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="width_87_100 border_left dis_flex">
                                        <div class="width_30_00  border_bottom">数据分析</div>
                                        <div class="width_70_01">
                                            <div class="width_81_01_100 border_left dis_flex">
                                                <div class="width_81_01_00 ">
                                                    <div id="j36" class=" line_h_45_center border_bottom"></div>
                                                    <div id="j036" class="change_h_45_bottom ">

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class='width_88_100 dis_flex'>
                                <div class="width_13 ">
                                    <div>设备服务</div>
                                </div>

                                <div class="width_87">


                                    <div class="width_87_100 border_left dis_flex">
                                        <div class="width_16 bottom_line ">设备管理</div>

                                        <div class="width_84_01">
                                            <div class="width_81_01_100 border_left dis_flex">
                                                <div class="width_19   bottom_line">设备台账</div>
                                                <div class="width_81_01 border_left">
                                                    <div id="j37" class=" line_h_45_center border_bottom"></div>
                                                    <div id="j037" class="change_h_45_bottom ">

                                                    </div>
                                                </div>
                                            </div>

                                            <div class="width_81_01_100 border_left dis_flex">
                                                <div class="width_19  bottom_line">设备点检</div>
                                                <div class="width_81_01 border_left">
                                                    <div id="j38" class=" line_h_45_center border_bottom"></div>
                                                    <div id="j038" class="change_h_45_bottom ">

                                                    </div>
                                                </div>
                                            </div>

                                            <div class="width_81_01_100 border_left dis_flex">
                                                <div class="width_19  border_bottom">工单管理</div>
                                                <div class="width_81_01 border_left">
                                                    <div id="j39" class=" line_h_45_center border_bottom"></div>
                                                    <div id="j039" class="change_h_45_bottom ">

                                                    </div>
                                                </div>
                                            </div>


                                            <div class="width_81_01_100 border_left dis_flex">
                                                <div class="width_19 border_bottom">维修保养</div>
                                                <div class="width_81_01 border_left">
                                                    <div id="j40" class=" line_h_45_center border_bottom"></div>
                                                    <div id="j040" class="change_h_45_bottom ">

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="width_87_100 border_left dis_flex">
                                        <div class="width_16 bottom_line ">数据监控</div>

                                        <div class="width_84_01">
                                            <div class="width_81_01_100 border_left dis_flex">
                                                <div class="width_19   bottom_line">实时数据</div>
                                                <div class="width_81_01 border_left">
                                                    <div id="j41" class=" line_h_45_center border_bottom"></div>
                                                    <div id="j041" class="change_h_45_bottom ">

                                                    </div>
                                                </div>
                                            </div>

                                            <div class="width_81_01_100 border_left dis_flex">
                                                <div class="width_19  bottom_line">数据报表</div>
                                                <div class="width_81_01 border_left">
                                                    <div id="j42" class=" line_h_45_center border_bottom"></div>
                                                    <div id="j042" class="change_h_45_bottom ">

                                                    </div>
                                                </div>
                                            </div>

                                            <div class="width_81_01_100 border_left dis_flex">
                                                <div class="width_19  bottom_line">信息追溯</div>
                                                <div class="width_81_01 border_left">
                                                    <div id="j43" class=" line_h_45_center border_bottom"></div>
                                                    <div id="j043" class="change_h_45_bottom ">

                                                    </div>
                                                </div>
                                            </div>

                                            <div class="width_81_01_100 border_left dis_flex">
                                                <div class="width_19  border_bottom">组态画面</div>
                                                <div class="width_81_01 border_left">
                                                    <div id="j44" class=" line_h_45_center border_bottom"></div>
                                                    <div id="j044" class="change_h_45_bottom ">

                                                    </div>
                                                </div>
                                            </div>


                                            <div class="width_81_01_100 border_left dis_flex">
                                                <div class="width_19 border_bottom">异常报警</div>
                                                <div class="width_81_01 border_left">
                                                    <div id="j45" class=" line_h_45_center border_bottom"></div>
                                                    <div id="j045" class="change_h_45_bottom ">

                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>



                                    <div class="width_87_100 border_left dis_flex">
                                        <div class="width_16  ">决策优化</div>

                                        <div class="width_84_01">

                                            <div class="width_81_01_100 border_left dis_flex">
                                                <div class="width_19  border_bottom">反向控制</div>
                                                <div class="width_81_01 border_left">
                                                    <div id="j46" class=" line_h_45_center border_bottom"></div>
                                                    <div id="j046" class="change_h_45_bottom ">

                                                    </div>
                                                </div>
                                            </div>


                                            <div class="width_81_01_100 border_left dis_flex">
                                                <div class="width_19 ">执行优化</div>
                                                <div class="width_81_01 border_left">
                                                    <div id="j47" class=" line_h_45_center "></div>
                                                    <div id="j047"
                                                        class="change_h_45_bottom border_top bottom_line_none">

                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>

                    <!-- </div> -->
                </div>

                <!-- 企业往年申报信息 -->

                <div class="title_wnsb"><span class="line_blue">&nbsp| </span>企业往年申报信息</div>
                <div class="qywn_content" style="height: 150px;">
                    <div style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap;" class="qywn_content_list">以往是否申报过省五星上云企业项目申报：<span id="torf3"
                            style="margin-left:65px;"></span><span id="torf03" style="margin-left:70px;"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="width:100%;height:80px;display: flex;justify-content: center; ">
        <a href="./zipingWeikaishi.html?nav=1" class="layui-btn layui-btn-normal" style="font-size: 16px;" >返回企业自评估</a>
     </div>
    <!-- container end -->
    <script src="../js/public/foot.js"></script>
    <script type="text/javascript" src="../js/jquery.min.js"></script>
    <script type="text/javascript" src="../js/layui/layui.all.js"></script>
    <script type="text/javascript" src="../js/common.js"></script>
    <script type="text/javascript" src="../js/industrialMaturity.js"></script>
    <script>
       
       base.requestJson({ type: "GET", url: base.interfaceObj.changeAdress.changeZpg, data: {} },
            function (res) {
                var adress = res.auth
                // console.log(adress)
                if (adress == "0") {
                    $("#imgsrc").attr("src", "../images/enroll/0_2.png")
                } else if (adress == "1") {
                    $("#imgsrc").attr("src", "../images/enroll/0_1.png")
                } else if (adress == "2") {
                    $("#imgsrc").attr("src", "../images/enroll/0_3.png")
                } else {
                    $("#imgsrc").attr("src", "../images/enroll/0_2.png")
                }


            }
        )

    </script>


</body>

</html>