<!DOCTYPE html
	PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<!--禁止缓存-->
	<META HTTP-EQUIV="pragma" CONTENT="no-cache">
	<META HTTP-EQUIV="Cache-Control" CONTENT="no-store, must-revalidate">
	<META HTTP-EQUIV="expires" CONTENT="Wed, 26 Feb 1997 08:21:57 GMT">
	<META HTTP-EQUIV="expires" CONTENT="0">
    <title>江苏省两化深度融合诊断服务平台 | 推进两化深度融合，助力江苏制造业高质量发展</title>
	<meta name="keywords" content="两化融合,工业诊断,数字化,企业信息化,江苏制造业,制造业转型,智能制造,工业互联网,企业上云,精益生产">
	<meta name="description" content="江苏省两化深度融合诊断服务平台：实施线上诊断与线下服务，给出适合企业的精益之路，推进两化深度融合，助力江苏制造业高质量发展。">
    <link rel="stylesheet" href="../js/layui/css/layui.css">
    <!-- 方祥 CSS -->
    <link rel="stylesheet" href="../css/fangCss/shiJuan.css">

        <!-- 页头  页脚样式 -->
    <link rel="stylesheet" type="text/css" href="../css/common.css">
    <style>
    /* layui改写 */
    .layui-form-select dl dd.layui-this {
    background-color: #1E9FFF!important;
    }
    .layui-input, .layui-textarea {
    display: inline!important;
    }
    .moRen{display: none;}
    </style>
  <script type="text/javascript" src="../js/jquery.min.js"></script>
  <script type="text/javascript" src="../js/common.js"></script>

</head>
<body  style="font-family: 微软雅黑;">
    <!-- 页头 -->
    <script src="../js/public/header.js"></script>

    <!-- 导航栏 -->
    <script src="../js/public/nav.js"></script>
    <!-- 试卷title -->
    <div class="myShijuanTitle">
        <div>
            <div></div>
            <div>工业互联网平台建设自评估信息
                <span>（共7步,当前第
                    <span>2</span>步）
                </span>
            </div>
        </div>
    </div>
    <!-- 试卷内容区域 -->
    <div class="container">
        <!-- 步骤 -->
        <div class="myShijuan">
            <div class="myShijuanBuzhou">
                <img src="../images/Industrial/1_2.png" alt="">
            </div>
            <div>
                <hr class="myHrClass">
            </div>
            <!-- 正文 -->
            <div class="myShijuanZhengwen">
                <div>请选择企业自评估项</div>
                <div>
                    <img src="../images/Industrial/gantanhao.png">
                    企业自评估结果将作为职能部门进行推荐/遴选依据。若遴选不通过，则需要等待下次申报时，才能重新申报。为了避免遴选不通过，请正确填写企业自评估信息
                </div>
                <div><span>*</span>平台基础建设能力-边缘接入能力</div>
            </div>
            <!-- 考试试题部分 -->
            <form id="form1" class="layui-form" action="" lay-filter="example">
                <div class="myShijuanNeirong">
                    <input type="hidden" name="enterpriseId" id="enterpriseId" />
                    <!-- 第一行 -->
                    <div class="layui-form-item">
                        <div class="myDivClass01">
                            <label class="layui-form-label myLabelClass">是否部署工业网络：</label>
                        </div>
                        <div class="layui-input-inline myDivClass02">
							<select name="a1" lay-verType="tips" lay-verify="required"
								lay-filter="aihao01">
								<option value=""></option>
								<option value="1">是</option>
								<option value="0">否</option>
                            </select>
                        </div>
                    </div>
                    <!-- 第二行 -->
                    <div class="layui-form-item">
                        <div class="myDivClass01">
                            <label class="layui-form-label myLabelClass">工业网络是否可实现现场级、车间级、工厂级网络的互联互通：</label>
                        </div>
                        <div class="layui-input-inline myDivClass02">
							<select name="a2" lay-verType="tips" lay-verify="required"
								lay-filter="Two01">
								<option value=""></option>
								<option value="1">是</option>
								<option value="0">否</option>
                            </select>
                            <div>
                                <div class="myDivClass03">
                                    兼容
                                    <input type="text" name="a3" lay-verType="tips" lay-verify="zichan|required" autocomplete="off" class="layui-input myInputClass" onkeyup="value=value.replace(/^(0+)|[^\d]+/g,'')" maxlength="5" style="height: 20px;">类工业通信协议,
                                    <input type="text" name="a4" lay-verType="tips" lay-verify="zichan|required" autocomplete="off" class="layui-input myInputClass" onkeyup="value=value.replace(/^(0+)|[^\d]+/g,'')" maxlength="5" style="height: 20px;">类工业通信网络和通用网络协议

                                    <!-- <input class="myInputClass" type="text" maxlength="5" onkeyup="value=value.replace(/^(0+)|[^\d]+/g,'')">类工业通信协议, -->
                                    <!-- <input class="myInputClass" type="text" maxlength="5" onkeyup="value=value.replace(/^(0+)|[^\d]+/g,'')">类工业通信网络和通用网络协议 -->
                                </div>
                                <div class="myDivClass04">提示：将兼容的协议或网络名称作为统计标准
                                </div>
                                <div class="myDivClass03">
                                    可采集工业数据种类：
                                    <input type="text" name="a5"  lay-verType="tips" lay-verify="zichan|required" autocomplete="off" class="layui-input myInputClass" onkeyup="value=value.replace(/^(0+)|[^\d]+/g,'')" maxlength="5" style="height: 20px;">类

                                    <!-- <input class="myInputClass" type="text" maxlength="5" onkeyup="value=value.replace(/^(0+)|[^\d]+/g,'')">类 -->
                                </div>
                                <div class="myDivClass04">提示：生产装备、装置、传感器、控制系统和工业产品等各类工业数据，将设备型号作为设备类型 的统计标准
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 第三行 -->
                    <div class="layui-form-item">
                        <div  class="myDivClass01">
                            <label class="layui-form-label myLabelClass">边缘层是否具备数据预处理能力：</label>
                        </div>
                        <div class="layui-input-inline myDivClass02">
							<select name="a6" lay-verType="tips" lay-verify="required"
								lay-filter="aihao">
								<option value=""></option>
								<option value="1">是</option>
								<option value="0">否</option>
                            </select>
                        </div>
                    </div>
                    <!-- 第四行 -->
                    <div class="layui-form-item">
                        <div  class="myDivClass01">
                            <label class="layui-form-label myLabelClass">边缘层是否具备能加载边缘应用：</label>
                        </div>
                        <div class="layui-input-inline myDivClass02">
							<select name="a7" id='enterpriseType' lay-verType="tips" lay-verify="required"
								lay-filter="Two02">
								<option value=""></option>
								<option value="1">是</option>
								<option value="0">否</option>
                            </select>
                            <div class="moRen02 moRen">
                                <div class="myDivClass03">
                                    能加载
                                    <input type="text" name="a8" autocomplete="off" class="layui-input myInputClass moRenTwo02" onkeyup="value=value.replace(/^(0+)|[^\d]+/g,'')" maxlength="5" style="height: 20px;">类边缘应用

                                    <!-- <input class="myInputClass" type="text" maxlength="5" onkeyup="value=value.replace(/^(0+)|[^\d]+/g,'')">类边缘应用 -->
                                </div>

                                <!-- 文本域 -->
                                <div class="layui-input-inline myTextareaClass" style="margin-bottom: 24px;">
                                    <textarea maxlength="200" placeholder="简要说明边缘应用可提供的技术能力（1~200位字符）" lay-verType="tips" class="layui-textarea moRenTwo002"
                                     name="a9"></textarea>
                                </div>
                            </div>
                                <div class="myDivClass03">
                                    适配主流
                                    <input type="text" name="a10" lay-verType="tips" lay-verify="zichan|required" autocomplete="off" class="layui-input myInputClass" onkeyup="value=value.replace(/^(0+)|[^\d]+/g,'')" maxlength="5" style="height: 20px;">类工业控制系统

                                    <!-- <input class="myInputClass" type="text" maxlength="5" onkeyup="value=value.replace(/^(0+)|[^\d]+/g,'')">类工业控制系统  -->
                                </div>
                                <div class="myDivClass04">提示：将适配的工控系统名称作为统计标准
                                </div>

                                <!-- 文本域 -->
                                <div class="layui-input-inline myTextareaClass">
                                    <textarea maxlength="200" lay-verType="tips" lay-verify="required" placeholder="简要说明工控系统可提供哪些设备管理操作,如参数配置、功能设定、维护等（1~200位字符）" lay-verType="tips" class="layui-textarea"
                                    name="a11"></textarea>
                                </div>

                        </div>
                    </div>
                    <!-- 按钮 -->
                    <div  class="layui-form-item myBtnClass">
                        <div>
                            <button style="width: 110px;height: 40px;" type="button" class="layui-btn layui-btn-normal backOne">上一步</button>
                            <button style="width: 110px;height: 40px;" type="button" lay-submit  lay-filter="btnSubmit" class="layui-btn layui-btn-normal">下一步</button>
                        </div>
                    </div>

                </div>
            </form>
        </div>
    </div>
    <!-- 页脚 -->
	<script src="../js/public/foot.js"></script>

<script type="text/javascript" src="../js/layui/layui.all.js"></script>

<script language="JavaScript">
    javascript:window.history.forward(1);
</script>

<script type="text/javascript">
// 监听浏览器关闭
// window.onbeforeunload = onbeforeunload_handler;
//     function onbeforeunload_handler(){
//         var warning="确认退出?";
//         return warning;
//     }
    //返回按钮
    $('.backOne').click(function(){
      window.location.href = './industrialOne.html?paperid=' + getUrlParams('paperid') + "&enterpriseId=" + getUrlParams('enterpriseId')+'&nav=1'
    })

    layui.use(['form','layer'], function () {
        var form = layui.form
            , layer = layui.layer

        $('#enterpriseId').val(getUrlParams('enterpriseId'))

        // 输入框规则
        form.verify({
            zichan: [
					/^[1-9]\d*$/
					, '请输入正整数'
				],
        });


        // 下拉规则为空 定位
        form.verify({
          required:function (value,item) {
            var msg="必填项不能为空";
            value= $.trim(value);
            var isEmpty =! value || value.length < 1;
          // 当前验证元素是select且为空时,将页面定位至layui渲染的select处，或自定义想定位的位置
            if(item.tagName=='SELECT' && isEmpty){
                $("html").animate({
                    scrollTop:$(item).siblings(".layui-form-select").offset().top-74
                },50);
            }
            if(isEmpty){
                return msg;
            }
          }
        })

        //下拉隐藏
        form.on('select(Two02)', function (data) {
            if(data.value == 1){
                // 修改
                $('.moRen02').show()
                $('.moRenTwo02').attr("lay-verify","zichan|required")
                $('.moRenTwo002').attr("lay-verify","required")
                if ($('.moRenTwo02').val() == 0) {
                    $('.moRenTwo02').val("")
                }
            }else{
                $('.moRen02').hide()
                $('.moRenTwo02').removeAttr("lay-verify")
                $('.moRenTwo002').removeAttr("lay-verify")
                $('.moRenTwo02').val(0)
                $('.moRenTwo002').val("")
            }
        })

        //  初始化查询
        $.ajax({
            type : 'get',
            url : ajaxUrl + "report/searchPaperInfo?paperid=" + getUrlParams('paperid') + "&enterpriseId=" + getUrlParams('enterpriseId'),
            dataType: 'json',
            xhrFields: {
            withCredentials: true
            },
            crossDomain: true,
            success : function(res) {
                if (res.code == 200) {
                    form.val("example", res.data);
                    // 回显提示
                    if(res.data.a7 == 1){
                        $('.moRen02').show()
                        $('.moRenTwo02').attr("lay-verify","zichan|required")
                        $('.moRenTwo002').attr("lay-verify","required")
                        if ($('.moRenTwo02').val() == 0) {
                            $('.moRenTwo02').val("")
                        }
                    }
                } else {
                    layer.msg('请求错误');
                }
            },
            error : function(err) {
                layer.msg('请求错误');
            }
        })

        //监听提交
        form.on('submit(btnSubmit)', function(data){
            $.ajax({
                type : 'post',
                url : ajaxUrl + "report/updateMaturityInfo",
                data : data.field,
                dataType: 'json',
                xhrFields: {
                withCredentials: true
                },
                crossDomain: true,
                success : function(res) {
                    if (res.code == 200) {
                        window.location.replace('./industrialThree.html?paperid=' + getUrlParams('paperid') + "&enterpriseId=" + getUrlParams('enterpriseId')+'&nav=1')
                    } else {
                        layer.msg('请求错误');
                    }
                },
                error : function(err) {
                    layer.msg('请求错误');
                }
            })
            return false;
        });
    })
</script>
<!-- 百度统计代码 -->
<script>
    /*制造云全站*/
    var _hmt = _hmt || [];
    (function () {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?6d0c6f3521dfad65307b120c3dbc89bc";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>
<script>
    /*江苏诊断平台*/
    var _hmt = _hmt || [];
    (function () {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?23626bd15d8ecf521e03ba03b0f2eca0";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>
<script>
    /*判断入口*/
    function checkIsIEView() {
        try {
            var status = window.external.isIEViewer();
            if (status == 1) {
                return true;
            } else {
                return false;
            }
        } catch (e) {
            return false;
        }
    }
    /*PC客户端/PC网页端*/
    var isOn = checkIsIEView();
    if (isOn) {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?4830e1584feb0161d16abb6d4938a601";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    } else {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?ac5827d87107aa017ca84a83ac6bd1a1";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    }
</script>
</body>
</html>
