<!DOCTYPE html
	PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<!--禁止缓存-->
	<META HTTP-EQUIV="pragma" CONTENT="no-cache">
	<META HTTP-EQUIV="Cache-Control" CONTENT="no-store, must-revalidate">
	<META HTTP-EQUIV="expires" CONTENT="Wed, 26 Feb 1997 08:21:57 GMT">
	<META HTTP-EQUIV="expires" CONTENT="0">
    <title>江苏省两化深度融合诊断服务平台 | 推进两化深度融合，助力江苏制造业高质量发展</title>
	<meta name="keywords" content="两化融合,工业诊断,数字化,企业信息化,江苏制造业,制造业转型,智能制造,工业互联网,企业上云,精益生产">
	<meta name="description" content="江苏省两化深度融合诊断服务平台：实施线上诊断与线下服务，给出适合企业的精益之路，推进两化深度融合，助力江苏制造业高质量发展。">
    <link rel="stylesheet" href="../js/layui/css/layui.css">
    <!-- 方祥 CSS -->
    <link rel="stylesheet" href="../css/fangCss/shiJuan.css">

        <!-- 页头  页脚样式 -->
    <link rel="stylesheet" type="text/css" href="../css/common.css">
    <style>
    /* layui改写 */
    .layui-form-select dl dd.layui-this {
    background-color: #1E9FFF!important;
    }
    .layui-input, .layui-textarea {
    display: inline!important;
    }

    /* Four 样式改动 */
    .myDivClass01Four{
      width: 55%;
    }
    .myDivClass02Four{
      width: 50%!important;
    }
    /* 下拉多选改写  */
    .xm-select-parent dl dd.xm-select-this div i {
      color: #1E9FFF!important;
    }
    .xm-select-parent .xm-select-title div.xm-select-label>span {
      background-color: #1E9FFF!important;
    }
    .xm-form-checkbox:hover > i {
      border-color: #1E9FFF!important;
    }
    .xm-form-checkbox > i {
      border: 1px solid #1E9FFF!important;
    }
    .xm-select-parent dd .xm-cz:hover {
      color: #1E9FFF!important;
    }
    .moRen{display: none;}

    </style>
  <script type="text/javascript" src="../js/jquery.min.js"></script>
  <script type="text/javascript" src="../js/common.js"></script>

</head>
<body  style="font-family: 微软雅黑;">
    <!-- 页头 -->
    <script src="../js/public/header.js"></script>

    <!-- 导航栏 -->
    <script src="../js/public/nav.js"></script>
    <!-- 试卷title -->
    <div class="myShijuanTitle">
        <div>
            <div></div>
            <div>工业互联网平台建设自评估信息
                <span>（共7步,当前第
                    <span>4</span>步）
                </span>
            </div>
        </div>
    </div>
    <!-- 试卷内容区域 -->
    <div class="container">
        <!-- 步骤 -->
        <div class="myShijuan">
            <div class="myShijuanBuzhou">
                <img src="../images/Industrial/1_2.png" alt="">
            </div>
            <div>
                <hr class="myHrClass">
            </div>
            <!-- 正文 -->
            <div class="myShijuanZhengwen">
                <div>请选择企业自评估项</div>
                <div>
                    <img src="../images/Industrial/gantanhao.png">
                    企业自评估结果将作为职能部门进行推荐/遴选依据。若遴选不通过，则需要等待下次申报时，才能重新申报。为了避免遴选不通过，请正确填写企业自评估信息
                </div>
                <div><span>*</span>平台基础建设能力-应用服务能力</div>
            </div>
            <!-- 考试试题部分 -->
            <form id="form1" class="layui-form" action="" lay-filter="example">
                <div class="myShijuanNeirong oneClass01">
                    <input type="hidden" name="enterpriseId" id="enterpriseId" />
                    <!-- 第一行 -->
                    <div class="layui-form-item">
                        <div class="myDivClass01 myDivClass01Four">
                            <label class="layui-form-label myLabelClass">是否能对工业数据进行处理和建模分析：</label>
                        </div>
                        <div class="layui-input-inline myDivClass02 myDivClass02Four">
                            <select name="c1" lay-verType="tips" lay-verify="required"
                              lay-filter="aihao">
                              <option value=""></option>
                              <option value="1">是</option>
                              <option value="0">否</option>
                            </select>
                        </div>
                    </div>
                    <!-- 第二行 -->
                    <div class="layui-form-item">
                      <div class="myDivClass01 myDivClass01Four">
                          <label class="layui-form-label myLabelClass">面向企业设计、生产、管理和服务等核心环节是否拥有较为完备的工业软件服务：</label>
                      </div>
                      <div class="layui-input-inline myDivClass02 myDivClass02Four">
                          <select name="c2" lay-verType="tips" lay-verify="required"
                            lay-filter="aihao">
                            <option value=""></option>
                            <option value="1">是</option>
                            <option value="0">否</option>
                          </select>
                      </div>
                    </div>

                    <!-- 第三行 -->
                    <div class="layui-form-item">
                      <div class="myDivClass01 myDivClass01Four">
                          <label class="layui-form-label myLabelClass">是否提供工业软件集成适配接口：</label>
                      </div>
                      <div class="layui-input-inline myDivClass02 myDivClass02Four">
                          <select name="c3" lay-verType="tips" lay-verify="required"
                            lay-filter="aihao">
                            <option value=""></option>
                            <option value="1">是</option>
                            <option value="0">否</option>
                          </select>
                      </div>
                    </div>

                    <!-- 第四行 -->
                    <div class="layui-form-item">
                      <div class="myDivClass01 myDivClass01Four">
                          <label class="layui-form-label myLabelClass">是否提供成熟工业软件的云化：</label>
                      </div>
                      <div class="layui-input-inline myDivClass02 myDivClass02Four">
                          <select name="c4" lay-verType="tips" lay-verify="required"
                            lay-filter="aihao">
                            <option value=""></option>
                            <option value="1">是</option>
                            <option value="0">否</option>
                          </select>
                      </div>
                    </div>

                    <!-- 第五行 -->
                    <div class="layui-form-item">
                      <div class="myDivClass01 myDivClass01Four">
                          <label class="layui-form-label myLabelClass">是否提供多类机理模型：</label>
                      </div>
                      <div class="layui-input-inline myDivClass02 myDivClass02Four">
                          <select name="c5" lay-verType="tips" lay-verify="required"
                            lay-filter="Four">
                            <option value=""></option>
                            <option value="1">是</option>
                            <option value="0">否</option>
                          </select>
                          <!-- 默认影藏 -->
                          <div>
                              <div class="myDivClass03">
                                提供
                                <input type="text" name="c6" lay-verType="tips" lay-verify="zichan|required" autocomplete="off" class="layui-input myInputClass" onkeyup="value=value.replace(/^(0+)|[^\d]+/g,'')" maxlength="5" style="height: 20px;">类工业微服务组件

                              </div>
                            <!-- 文本域 -->
                              <div class="layui-input-inline myTextareaClass">
                                  <textarea lay-verType="tips" lay-verify="required" maxlength="200" placeholder="说明每类工业微服务组件可服务的生产环节，如设计、仿真、管理等，并以案例佐证（1~200位字符）" lay-verType="tips" class="layui-textarea"
                                   name="c7"></textarea>
                              </div>
                          </div>
                      </div>
                    </div>

                    <!-- 第六行 -->
                    <div class="layui-form-item">
                      <div class="myDivClass01 myDivClass01Four">
                          <label class="layui-form-label myLabelClass">是否多个工业 APP：</label>
                      </div>
                      <div class="layui-input-inline myDivClass02 myDivClass02Four">
                          <select name="c8" lay-verType="tips" lay-verify="required"
                            lay-filter="aihao">
                            <option value=""></option>
                            <option value="1">是</option>
                            <option value="0">否</option>
                          </select>
                      </div>
                    </div>
                    <!-- 第七行 -->
                    <div class="layui-form-item">
                      <div class="myDivClass01 myDivClass01Four">
                          <label class="layui-form-label myLabelClass">是否建有应用市场：</label>
                      </div>
                      <div class="layui-input-inline myDivClass02 myDivClass02Four">
                          <select name="c9" lay-verType="tips" lay-verify="required"
                            lay-filter="aihao">
                            <option value=""></option>
                            <option value="1">是</option>
                            <option value="0">否</option>
                          </select>
                      </div>
                    </div>
                    <!-- 第八行 -->
                    <div class="layui-form-item">
                      <div class="myDivClass01 myDivClass01Four">
                          <label class="layui-form-label myLabelClass">是否建有开发者社区：</label>
                      </div>
                      <div class="layui-input-inline myDivClass02 myDivClass02Four">
                          <select name="c10" lay-verType="tips" lay-verify="required"
                            lay-filter="aihao">
                            <option value=""></option>
                            <option value="1">是</option>
                            <option value="0">否</option>
                          </select>
                      </div>
                    </div>
                    <!-- 第九行 -->
                    <div class="layui-form-item">
                      <div class="myDivClass01 myDivClass01Four">
                          <label class="layui-form-label myLabelClass">是否建有开源社区：</label>
                      </div>
                      <div class="layui-input-inline myDivClass02 myDivClass02Four">
                          <select name="c11" lay-verType="tips" lay-verify="required"
                            lay-filter="aihao">
                            <option value=""></option>
                            <option value="1">是</option>
                            <option value="0">否</option>
                          </select>
                      </div>
                    </div>
                    <!-- 第十行 -->
                    <div class="layui-form-item">
                      <div class="myDivClass01 myDivClass01Four">
                          <label class="layui-form-label myLabelClass">具备管理功能：</label>
                      </div>
                      <div class="layui-input-inline myDivClass02 myDivClass02Four">
                          <select name="c12" lay-verType="tips" lay-verify="required"
                            lay-filter="aihao" xm-select="selectPro">
                            <option value=""></option>
                            <option value="1">开发</option>
                            <option value="2">部署</option>
                            <option value="3">交易</option>
                            <option value="4">交付</option>
                            <option value="5">测评</option>
                            <option value="6">安全认证</option>
                            <option value="7">其他</option>
                            <!-- <option value="">全部</option> -->
                          </select>
                      </div>
                    </div>
                    <!-- 第十一行 -->
                    <div class="layui-form-item">
                      <div class="myDivClass01 myDivClass01Four">
                          <label class="layui-form-label myLabelClass">应用新技术：</label>
                      </div>
                      <div class="layui-input-inline myDivClass02 myDivClass02Four">
                          <select name="c13" lay-verType="tips" lay-verify="required"
                            lay-filter="aihao" xm-select="selectNew">
                            <option value=""></option>
                            <option value="1">人工智能</option>
                            <option value="2">区块链</option>
                            <option value="3">VR/AP/MR</option>
                            <option value="4">其他新技术</option>
                            <!-- <option value="5">全部</option> -->
                          </select>
                          <div class="myDivClass03">
                            基于新技术的业务功能数量：
                            <input type="text" name="c14" lay-verify="zichan|required" autocomplete="off" class="layui-input myInputClass" onkeyup="value=value.replace(/^(0+)|[^\d]+/g,'')" maxlength="5" style="height: 20px;">个

                          </div>
                          <div class="myDivClass04">提示：按功能的应用场景划分
                          </div>
                        <!-- 文本域 -->
                          <div class="layui-input-inline myTextareaClass">
                            <textarea maxlength="1000" placeholder="补充说明和分类详细介绍，主要介绍平台新技术的应用情况（1~1000位字符）" maxlength="1000" lay-verType="tips" class="layui-textarea"
                            lay-verify="required" name="c15"></textarea>
                          </div>
                      </div>
                    </div>
                    <!-- 第十二行 -->
                    <!-- 按钮 -->
                    <div  class="layui-form-item myBtnClass">
                        <div>
                            <button style="width: 110px;height: 40px;" type="button" class="layui-btn layui-btn-normal backThree">上一步</button>
                            <button style="width: 110px;height: 40px;" type="button" lay-submit  lay-filter="btnSubmit" class="layui-btn layui-btn-normal">下一步</button>
                        </div>
                    </div>

                </div>
            </form>
        </div>
    </div>
    <!-- 页脚 -->
	<script src="../js/public/foot.js"></script>

<script type="text/javascript" src="../js/layui/layui.all.js"></script>
<!-- 引入组件 select多选-->
<script type="text/javascript" src="../js/layui/formSelects-v4.min.js" charset="utf-8"></script>
<!--引入样式 select多选 -->
<link rel="stylesheet" href="../js/layui/formSelects-v4.css" type="text/css"/>

<script language="JavaScript">
  javascript:window.history.forward(1);
</script>

<script type="text/javascript">
// 监听浏览器关闭
// window.onbeforeunload = onbeforeunload_handler;
//     function onbeforeunload_handler(){
//         var warning="确认退出?";
//         return warning;
//     }

    //返回按钮
    $('.backThree').click(function(){
      window.location.href = './industrialThree.html?paperid=' + getUrlParams('paperid') + "&enterpriseId=" + getUrlParams('enterpriseId')+'&nav=1'
    })

    layui.use(['form'], function () {
        var form = layui.form
        ,layer = layui.layer

        $('#enterpriseId').val(getUrlParams('enterpriseId'))

        // 输入框规则
        form.verify({
            zichan: [
					/^[1-9]\d*$/
					, '请输入正整数'
				],
        });

        // 下拉规则为空 定位
        form.verify({
          required:function (value,item) {
            var msg="必填项不能为空";
            value= $.trim(value);
            var isEmpty =! value || value.length < 1;
          // 当前验证元素是select且为空时,将页面定位至layui渲染的select处，或自定义想定位的位置
            if(item.tagName=='SELECT' && isEmpty){
                $("html").animate({
                    scrollTop:$(item).siblings(".layui-form-select").offset().top-74
                },50);
            }
            if(isEmpty){
                return msg;
            }
          }
        })

        //下拉影藏
        // form.on('select(Four)', function (data) {
        //     if(data.value == 1){
        //         // 修改
        //         $('.moRen001').show()
        //         $('#moRen01').attr("lay-verify","zichan|required")
        //         $('#moRen02').attr("lay-verify","required")
        //     }else{
        //         $('.moRen001').hide()
        //         $('#moRen01').removeAttr("lay-verify")
        //         $('#moRen02').removeAttr("lay-verify")
        //         $('#moRen01').val("")
        //         $('#moRen02').val("")
        //     }
        // })


        //  初始化查询
        $.ajax({
            type : 'get',
            url : ajaxUrl + "report/searchPaperInfo?paperid=" + getUrlParams('paperid') + "&enterpriseId=" + getUrlParams('enterpriseId'),
            dataType: 'json',
            xhrFields: {
            withCredentials: true
            },
            crossDomain: true,
            success : function(res) {
                if (res.code == 200) {
                    form.val("example", res.data);
                    // 默认选中项
                    formSelects.value('selectPro', res.data.c12 ? res.data.c12.split(",") : '')
                    formSelects.value('selectNew', res.data.c13 ? res.data.c13.split(",") : '')
                    // 回显设置
                    // if(res.data.c5 == 0){
                    //     $('.moRen001').hide()
                    // }
                } else {
                    layer.msg('请求错误');
                }
            },
            error : function(err) {
                layer.msg('请求错误');
            }
        })


        // 下拉多选取值
        var formSelects = layui.formSelects;
        formSelects.render('selectPro');
        formSelects.render('selectNew');

        //监听提交
        form.on('submit(btnSubmit)', function(data){
            $.ajax({
                type : 'post',
                url : ajaxUrl + "report/updateMaturityInfo",
                data : data.field,
                dataType: 'json',
                xhrFields: {
                withCredentials: true
                },
                crossDomain: true,
                success : function(res) {
                    if (res.code == 200) {
                      window.location.replace('./industrialFive.html?paperid=' + getUrlParams('paperid') + "&enterpriseId=" + getUrlParams('enterpriseId')+'&nav=1')
                    } else {
                        layer.msg('请求错误');
                    }
                },
                error : function(err) {
                    layer.msg('请求错误');
                }
            })
            return false;
        });  
    })
</script>
<!-- 百度统计代码 -->
<script>
    /*制造云全站*/
    var _hmt = _hmt || [];
    (function () {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?6d0c6f3521dfad65307b120c3dbc89bc";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>
<script>
    /*江苏诊断平台*/
    var _hmt = _hmt || [];
    (function () {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?23626bd15d8ecf521e03ba03b0f2eca0";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>
<script>
    /*判断入口*/
    function checkIsIEView() {
        try {
            var status = window.external.isIEViewer();
            if (status == 1) {
                return true;
            } else {
                return false;
            }
        } catch (e) {
            return false;
        }
    }
    /*PC客户端/PC网页端*/
    var isOn = checkIsIEView();
    if (isOn) {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?4830e1584feb0161d16abb6d4938a601";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    } else {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?ac5827d87107aa017ca84a83ac6bd1a1";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    }
</script>
</body>
</html>
