<!DOCTYPE html
	PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<!--禁止缓存-->
	<META HTTP-EQUIV="pragma" CONTENT="no-cache">
	<META HTTP-EQUIV="Cache-Control" CONTENT="no-store, must-revalidate">
	<META HTTP-EQUIV="expires" CONTENT="Wed, 26 Feb 1997 08:21:57 GMT">
	<META HTTP-EQUIV="expires" CONTENT="0">
    <title>江苏省两化深度融合诊断服务平台 | 推进两化深度融合，助力江苏制造业高质量发展</title>
	<meta name="keywords" content="两化融合,工业诊断,数字化,企业信息化,江苏制造业,制造业转型,智能制造,工业互联网,企业上云,精益生产">
	<meta name="description" content="江苏省两化深度融合诊断服务平台：实施线上诊断与线下服务，给出适合企业的精益之路，推进两化深度融合，助力江苏制造业高质量发展。">
    <link rel="stylesheet" href="../js/layui/css/layui.css">
            <!-- 方祥 CSS -->
            <link rel="stylesheet" href="../css/fangCss/shiJuan.css">

        <!-- 页头  页脚样式 -->
    <link rel="stylesheet" type="text/css" href="../css/common.css">
    <style>
    /* layui改写 */
    .layui-form-select dl dd.layui-this {
    background-color: #1E9FFF!important;
    }
    .layui-input, .layui-textarea {
    display: inline!important;
    }
    /* Six 样式改动 */
    .myLabelClassSix{
      width: 83%!important;
    }
  /* 文件上传按钮 */
    .myBtn01{
      background-color:rgb(255, 255, 255)!important;color:#999999!important;border:1px solid rgba(228, 228, 228, 1)!important;
    }
    .myBtn02{
      background-color: #1f8dfb!important;
      color: rgb(255, 245, 245)!important;
    }
    .spanUpload{
        display: inline-block;
        width: 390px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        }
    .del{
        cursor: pointer;
        display: none;
        margin-right: 20px;
    }

</style>
  <script type="text/javascript" src="../js/jquery.min.js"></script>
  <script type="text/javascript" src="../js/common.js"></script>

</head>
<body  style="font-family: 微软雅黑;">
    <!-- 页头 -->
    <script src="../js/public/header.js"></script>

    <!-- 导航栏 -->
    <script src="../js/public/nav.js"></script>
    <!-- 试卷title -->
    <div class="myShijuanTitle">
        <div>
            <div></div>
            <div>工业互联网平台建设自评估信息
                <span>（共7步,当前第
                    <span>6</span>步）
                </span>
            </div>
        </div>
    </div>
    <!-- 试卷内容区域 -->
    <div class="container">
        <!-- 步骤 -->
        <div class="myShijuan">
            <div class="myShijuanBuzhou">
                <img src="../images/Industrial/1_2.png" alt="">
            </div>
            <div>
                <hr class="myHrClass">
            </div>
            <!-- 正文 -->
            <div class="myShijuanZhengwen">
                <div>请选择企业自评估项</div>
                <div>
                    <img src="../images/Industrial/gantanhao.png">
                    企业自评估结果将作为职能部门进行推荐/遴选依据。若遴选不通过，则需要等待下次申报时，才能重新申报。为了避免遴选不通过，请正确填写企业自评估信息
                </div>
                <div><span>*</span>平台服务能力-机理 </div>
            </div>
            <!-- 考试试题部分 -->
            <form id="form1" class="layui-form" action="" lay-filter="example">
                <div class="myShijuanNeirong oneClass01">
                    <!-- 第一行 -->
                    <div  class="layui-form-item myBtnClass">
                      <input type="hidden" name="enterpriseId" id="enterpriseId" />
                      <div class="myDivClass03">
                        工业机理模型:
                        <input type="text" name="f1" lay-verify="zichan|required" autocomplete="off" class="layui-input myInputClass" onkeyup="value=value.replace(/^(0+)|[^\d]+/g,'')" maxlength="5" style="height: 20px;">类,
                        <input type="text" name="f2" lay-verify="zichan|required" autocomplete="off" class="layui-input myInputClass" onkeyup="value=value.replace(/^(0+)|[^\d]+/g,'')" maxlength="5" style="height: 20px;">个

                        <!-- <input class="myInputClass" type="text" maxlength="5" onkeyup="value=value.replace(/^(0+)|[^\d]+/g,'')">类, -->
                        <!-- <input class="myInputClass" type="text" maxlength="5" onkeyup="value=value.replace(/^(0+)|[^\d]+/g,'')">个  -->
                      </div>
                      <div class="myDivClass04">提示：融合了工业行业知识和数据科学的模型，简要说明每类机理模型可满足何种工业行业的何种 应用场景
                      </div>
                      <!-- 第二行 -->
                      <div class="myDivClass03">
                        数据分析算法:
                        <input type="text" name="f3" lay-verify="zichan|required" autocomplete="off" class="layui-input myInputClass" onkeyup="value=value.replace(/^(0+)|[^\d]+/g,'')" maxlength="5" style="height: 20px;">个

                        <!-- <input class="myInputClass" type="text" maxlength="5" onkeyup="value=value.replace(/^(0+)|[^\d]+/g,'')">个 -->
                      </div>
                      <!-- 第三行 -->
                      <div class="myDivClass03">
                        微服务组件数量：
                        <input type="text" name="f4" lay-verify="zichan|required" autocomplete="off" class="layui-input myInputClass" onkeyup="value=value.replace(/[^(0+)|[^\d]+]/g,'')" maxlength="5" style="height: 20px;">类,
                        <input type="text" name="f5" lay-verify="zichan|required" autocomplete="off" class="layui-input myInputClass" onkeyup="value=value.replace(/^(0+)|[^\d]+/g,'')" maxlength="5" style="height: 20px;">个

                        <!-- <input class="myInputClass" type="text" maxlength="5" onkeyup="value=value.replace(/^(0+)|[^\d]+/g,'')">类, -->
                        <!-- <input class="myInputClass" type="text" maxlength="5" onkeyup="value=value.replace(/^(0+)|[^\d]+/g,'')">个 -->
                      </div>
                      <div class="myDivClass04">提示：面向的工业场景类型。微服务：封装了工业知识和算法，并且可以供开发者灵活调用的功 能模块。
                      </div>
                      <!-- 第四行 -->
                      <div class="myDivClass03">
                        行业机理模型月平均调用次数：
                        <input type="text" name="f6" lay-verify="zichan|required" autocomplete="off" class="layui-input myInputClass" onkeyup="value=value.replace(/^(0+)|[^\d]+/g,'')" maxlength="5" style="height: 20px;">次

                        <!-- <input class="myInputClass" type="text" maxlength="5" onkeyup="value=value.replace(/^(0+)|[^\d]+/g,'')">次  -->
                      </div>
                      <!-- 第五行 -->
                      <div class="myDivClass03">
                        数据分析算法平均调用次数：
                        <input type="text" name="f7" lay-verify="zichan|required" autocomplete="off" class="layui-input myInputClass" onkeyup="value=value.replace(/^(0+)|[^\d]+/g,'')" maxlength="5" style="height: 20px;">次

                        <!-- <input class="myInputClass" type="text" maxlength="5" onkeyup="value=value.replace(/^(0+)|[^\d]+/g,'')">次  -->
                      </div>
                      <!-- 第六行 -->
                      <div class="myDivClass03">
                        微服务组件月平均调用次数：
                        <input type="text" name="f8" lay-verify="zichan|required" autocomplete="off" class="layui-input myInputClass" onkeyup="value=value.replace(/^(0+)|[^\d]+/g,'')" maxlength="5" style="height: 20px;">次

                        <!-- <input class="myInputClass" type="text" maxlength="5" onkeyup="value=value.replace(/^(0+)|[^\d]+/g,'')">次  -->
                        <!-- 文本域 -->
                        <div class="layui-input-inline myTextareaClass">
                          <textarea maxlength="1000" placeholder="补充说明和分类详细介绍(介绍平台新技术的应用情况，其他)（1~1000位字符）" lay-verType="tips" class="layui-textarea"
                          lay-verify="required" name="f9"></textarea>
                        </div>
                      </div>
                    </div>
                    <!-- 第二块 -->
                    <!-- 正文 -->
                    <div class="myShijuanZhengwen">
                      <div style="font-weight: normal;"><span></span>平台服务能力-行业用户覆盖能力（企业、双跨类企业不必填） </div>
                    </div>
                    <div  class="layui-form-item myBtnClass">
                      <!-- 第一行 -->
                      <div class="myDivClass03">
                        平台用户总数：
                        <input type="text" name="g1" autocomplete="off" class="layui-input myInputClass" onkeyup="value=value.replace(/^(0+)|[^\d]+/g,'')" maxlength="5" style="height: 20px;">个

                        <!-- <input class="myInputClass" type="text" maxlength="5" onkeyup="value=value.replace(/^(0+)|[^\d]+/g,'')">个  -->
                      </div>
                      <div class="myDivClass04">提示：平台注册用户数
                      </div>
                      <!-- 第二行 -->
                      <div class="myDivClass03">
                        平台活跃用户数：
                        <input type="text" name="g2" autocomplete="off" class="layui-input myInputClass" onkeyup="value=value.replace(/^(0+)|[^\d]+/g,'')" maxlength="5" style="height: 20px;">个

                        <!-- <input class="myInputClass" type="text" maxlength="5" onkeyup="value=value.replace(/^(0+)|[^\d]+/g,'')">个  -->
                      </div>
                      <div class="myDivClass04">提示：在线时长不少月 10 小时/月或登录不少于 5 次
                      </div>
                      <!-- 第三行 -->
                      <div class="myDivClass03">
                        平台服务的企业用户数：
                        <input type="text" name="g3" autocomplete="off" class="layui-input myInputClass" onkeyup="value=value.replace(/^(0+)|[^\d]+/g,'')" maxlength="5" style="height: 20px;">个

                        <!-- <input class="myInputClass" type="text" maxlength="5" onkeyup="value=value.replace(/^(0+)|[^\d]+/g,'')">个  -->
                      </div>
                    </div>
                    <!-- 第四行 g4 -->
                    <div class="layui-form-item">
                      <div class="myDivClass01">
                          <label class="layui-form-label myLabelClass myLabelClassSix">提供合同：</label>
                      </div>
                      <div>
                          <input type="hidden" name="g4" id="uploadUrl" />
                          <div class="layui-upload">
                              <button type="button" class="layui-btn layui-btn-normal" id="chooseFile">选择文件</button>
                              <span class="uploadName spanUpload" style="padding: 0 10px;color: #999;"></span>
                              <img class="del" src="../images/Industrial/del.png">
                              <button type="button" class="layui-btn" id="uploadFile">开始上传</button>
                          </div>
                          <div lay-filter="progressBar" lay-showPercent="yes" class="layui-progress layui-progress-big" style="width: 630px;float: right;margin: 10px 80px 10px 0;display: none;">
                              <div class="layui-progress-bar layui-bg-blue" lay-percent="0%"></div>
                          </div>
                          <div style="margin-left: 40%;width: 60%;" class="myDivClass04">
                            支持文件格式：.zip .pdf  word Excel 图片 ，只支持上传一个文件，单 个文件不能超过20M。若有多个文件，请先压缩.zip格式，再上传。
                          </div>
                    </div>
                      <!-- 文本域 -->
                      <div style="margin-left: 40%;width: 60%;">
                          <div class="layui-input-inline myTextareaClass ">
                              <textarea maxlength="1000" placeholder="补充说明和分类详细介绍(介绍平台新技术的应用情况，其他) （1~1000位字符）" lay-verType="tips" class="layui-textarea"
                               name="g5"></textarea>
                          </div>
                      </div>

                    </div>

                    <!-- 按钮 -->
                    <div  class="layui-form-item myBtnClass">
                        <div>
                            <button style="width: 110px;height: 40px;" type="button" class="layui-btn layui-btn-normal backFive">上一步</button>
                            <button style="width: 110px;height: 40px;" type="button" lay-submit  lay-filter="btnSubmit" class="layui-btn layui-btn-normal">下一步</button>
                        </div>
                    </div>

                </div>
            </form>
        </div>
    </div>
    <!-- 页脚 -->
	<script src="../js/public/foot.js"></script>

<script type="text/javascript" src="../js/layui/layui.all.js"></script>

<script language="JavaScript">
    javascript:window.history.forward(1);
</script>

<script type="text/javascript">
// 监听浏览器关闭
// window.onbeforeunload = onbeforeunload_handler;
//     function onbeforeunload_handler(){
//         var warning="确认退出?";
//         return warning;
//     }
    //返回按钮
    $('.backFive').click(function(){
      window.location.href = './industrialFive.html?paperid=' + getUrlParams('paperid') + "&enterpriseId=" + getUrlParams('enterpriseId')+'&nav=1'
    })


    layui.use(['form','upload'], function () {
        var form = layui.form
            , layer = layui.layer
            ,upload = layui.upload
            ,element = layui.element
             element.init();
        // 输入框规则
        form.verify({
            zichan: [
					/^[1-9]\d*$/
					, '请输入正整数'
				],
        });

        $('#enterpriseId').val(getUrlParams('enterpriseId'))

        //  初始化查询
        $.ajax({
            type : 'get',
            url : ajaxUrl + "report/searchPaperInfo?paperid=" + getUrlParams('paperid') + "&enterpriseId=" + getUrlParams('enterpriseId'),
            dataType: 'json',
            xhrFields: {
            withCredentials: true
            },
            crossDomain: true,
            success : function(res) {
                if (res.code == 200) {
                    form.val("example", res.data);
                    if( res.data.g4 ){
                        $('.uploadName').html(res.data.g4.substring(36))
                        $('.uploadName').attr('title',res.data.g4.substring(36))
                        $('.del').show()
                        $('.del').attr('dele',res.data.g4)
                    }else{
                        $('.uploadName').html('')
                        // $('.uploadName').attr('title',res.data.g4)
                        // $('.del').show()
                        // $('.del').attr('dele',res.data.g4)
                    }

                } else {
                    layer.msg('请求错误');
                }
            },
            error : function(err) {
                layer.msg('请求错误');
            }
        })

        // 文件删除
        $('.del').click(function(){
            var myDel = $('.del').attr('dele')
            $.ajax({
            type : 'get',
            url : ajaxUrl + "/files/huawei/deleteFile?fileNames=" + myDel,
            dataType: 'json',
            xhrFields: {
            withCredentials: true
            },
            crossDomain: true,
            success : function(res) {
                if (res.code == 200) {
                        layer.msg('删除成功');
                        $('.del').hide()
                        $('.del').removeAttr('dele')
                        $('#uploadUrl').val('')
                        $('.uploadName').html('')
                        element.progress('progressBar', '0%');
                        $('.layui-progress-big').hide()
                } else {
                    layer.msg(res.msg);
                    }
                },
                error : function(err) {
                    layer.msg('请求错误');
                }
            })
        })


        // 文件上传
        upload.render({
            elem: '#chooseFile'
            ,url: ajaxUrl + 'files/huawei/5'
            ,auto: false
            ,size: 20 * 1024
            ,accept: 'file'
            ,exts: 'zip|jpg|png|jpeg|PDF|doc|docx|xls|xlsx'
            ,bindAction: '#uploadFile'
            ,progress: function (n, percent) {
                element.progress('progressBar',n  + '%');
            }
            ,choose: function(obj){
                element.progress('progressBar', '0%');
                isUpload = false
                obj.preview(function(index, file, result){
                    // $('#uploadUrl').val(file.name)
                    $('.uploadName').html(file.name)
                    $('.layui-progress-big').show()
                });
            }
            ,done: function(res){
                if(res.code == 200){
                    layer.msg('上传成功');
                    $('#uploadUrl').val(res.data)
                    $('.uploadName').html(res.data.substring(36))
                    $('.del').show()
                    $('.del').attr('dele',res.data)

                }else{
                        layer.msg(res.msg);
                        element.progress('progressBar', '0%');
                    }
                }
            });

        //监听提交
        form.on('submit(btnSubmit)', function(data){
            var newData = data.field
            delete newData.file
            $.ajax({
                type : 'post',
                url : ajaxUrl + "report/updateMaturityInfo",
                data : newData,
                dataType: 'json',
                xhrFields: {
                withCredentials: true
                },
                crossDomain: true,
                success : function(res) {
                    if (res.code == 200) {
                        window.location.replace('./industrialSeven.html?paperid=' + getUrlParams('paperid') + "&enterpriseId=" + getUrlParams('enterpriseId')+'&nav=1')
                    } else {
                        layer.msg('请求错误');
                    }
                },
                error : function(err) {
                    layer.msg('请求错误');
                }
            })
            return false;
        });
    })
</script>
<!-- 百度统计代码 -->
<script>
    /*制造云全站*/
    var _hmt = _hmt || [];
    (function () {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?6d0c6f3521dfad65307b120c3dbc89bc";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>
<script>
    /*江苏诊断平台*/
    var _hmt = _hmt || [];
    (function () {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?23626bd15d8ecf521e03ba03b0f2eca0";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>
<script>
    /*判断入口*/
    function checkIsIEView() {
        try {
            var status = window.external.isIEViewer();
            if (status == 1) {
                return true;
            } else {
                return false;
            }
        } catch (e) {
            return false;
        }
    }
    /*PC客户端/PC网页端*/
    var isOn = checkIsIEView();
    if (isOn) {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?4830e1584feb0161d16abb6d4938a601";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    } else {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?ac5827d87107aa017ca84a83ac6bd1a1";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    }
</script>
</body>
</html>
