<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!--禁止缓存-->
    <META HTTP-EQUIV="pragma" CONTENT="no-cache">
    <META HTTP-EQUIV="Cache-Control" CONTENT="no-store, must-revalidate">
    <META HTTP-EQUIV="expires" CONTENT="Wed, 26 Feb 1997 08:21:57 GMT">
    <META HTTP-EQUIV="expires" CONTENT="0">
    <title>江苏省两化深度融合诊断服务平台 | 推进两化深度融合，助力江苏制造业高质量发展</title>
    <meta name="keywords" content="两化融合,工业诊断,数字化,企业信息化,江苏制造业,制造业转型,智能制造,工业互联网,企业上云,精益生产">
    <meta name="description" content="江苏省两化深度融合诊断服务平台：实施线上诊断与线下服务，给出适合企业的精益之路，推进两化深度融合，助力江苏制造业高质量发展。">
    <link rel="stylesheet" type="text/css" href="../css/common.css">
    <link rel="stylesheet" type="text/css" href="../css/enroll.css">
    <link rel="stylesheet" href="../js/layui/css/layui.css">
    <link rel="stylesheet" href="../css/submitCompleted.css">
    <link rel="stylesheet" href="../css/fangCss/shiJuan.css">

</head>
<style>
    #pageTwo {
        display: none;
    }

    .layui-upload-choose {
        position: absolute;
        top: 50px;
        left: 0px;
    }
</style>
<script type="text/javascript" src="../js/jquery.min.js"></script>
<script type="text/javascript" src="../js/common.js"></script>

<body>
    <script src="../js/public/header.js"></script>
    <script src="../js/public/nav.js"></script>
    <!-- banner -->
    <!-- <div class="toptable">
        <div class="main">
            <div class="onetable">
                <div class="active">企业报名</div>
                <div>企业自评估</div>
                <div>职能部门推荐/遴选</div>
                <div>在线诊断服务</div>
                <div>查看诊断报告</div>
            </div>
            <div class="userback">
                <div class="header_img"></div>
                <div class="username">1111111</div>
                <div class="closeback">退出登录</div>
            </div>
        </div>
    </div> -->
    <div class="qysb">
        <div class="main_qycx">
            <div class="line_blue"></div>
            <div>企业报名</div>
        </div>
    </div>
    <!-- container begin -->
    <div class="container">
        <div class="cont_box">
            <div class="srjbxx">
                <img src="../images/enroll/0_2.png" alt="">
            </div>
            <div class="qsrqyxx0">
                <div class="input_line0"></div>
            </div>
            <div class="submitCompleted">
                <div class="main">
                    <div class="common_width">
                        <div class="one_width">
                            <img src="../images/submitCompleted/icon-right.png" alt="">
                            <span class="words_one">您的企业报名信息提交完成，请进行<a id="changeAdress1" href=""><span
                                        style="color: #1f8dfc">企业自评估</span></a>。</span>
                        </div>
                    </div>
                    <div class="common_width">
                        <div class="words_two">报名人名称：<span id="applicantName"></span></div>
                    </div>
                    <div class="common_width">
                        <div class="words_two" style="display: flex;">
                            <div style="width:70px">企业名称：</div>
                            <div style="width:300px" id="companyName" style="display: block;float:left"></div>
                        </div>
                    </div>
                    <div class="common_width">
                        <div class="words_two">报名时间：<span id="applicantTime"></span></div>
                    </div>
                    <div class="common_width">
                        <div class="words_three">
                            <a href="./enterpriseInformation.html"><button
                                    class="layui-btn layui-btn-normal">企业报名详情</button></a>
                            <a id="changeAdress" href=""> <button class="layui-btn layui-btn-primary"
                                    style="color:#1f8dfc ;border:1px solid #1f8dfc;margin-left: 10px;">企业自评估</button></a>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
    <!-- container end -->
    <script src="../js/public/foot.js"></script>
    <script type="text/javascript" src="../js/jquery.min.js"></script>
    <script type="text/javascript" src="../js/layui/layui.all.js"></script>
    <script type="text/javascript" src="../js/common.js"></script>

    <script>
        // 退出登录页
        $(".closeback").click(function () {
            window.open('./../index.html')
            window.location.href = "";
            window.close();
        })


        // ajax获取填写数据
        base.requestJson({ type: "POST", url: base.interfaceObj.getEnterpriseDetail.threeDetail, data: {} },
            function (res) {
                // console.log(res)
                var activeDetail = res.data;
                $("#applicantName").text(activeDetail.username)
                $("#companyName").text(activeDetail.enterpriseName)
                $("#applicantTime").text(activeDetail.createDate)

            }
        )


        base.requestJson({ type: "GET", url: base.interfaceObj.changeAdress.changeZpg, data: {} },
            function (res) {
                var adress = res.auth
                // console.log(adress)
                if (adress == "0") {
                    $("#changeAdress").attr("href", "./xuanzeShijuan.html?nav=1")
                    $("#changeAdress1").attr("href", "./xuanzeShijuan.html?nav=1")
                } else if (adress == "1") {
                    $("#changeAdress").attr("href", "./sorryTips.html?nav=1")
                    $("#changeAdress1").attr("href", "./sorryTips.html?nav=1")
                } else if (adress == "2") {
                    $("#changeAdress").attr("href", "./zipingWeikaishi.html?nav=1")
                    $("#changeAdress1").attr("href", "./zipingWeikaishi.html?nav=1")
                } else {
                    $("#changeAdress").attr("href", "./qiyeTishi.html?nav=1")
                    $("#changeAdress1").attr("href", "./qiyeTishi.html?nav=1")
                }


            }
        )




    </script>


</body>

</html>