<!DOCTYPE html
	PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<!--禁止缓存-->
	<META HTTP-EQUIV="pragma" CONTENT="no-cache">
	<META HTTP-EQUIV="Cache-Control" CONTENT="no-store, must-revalidate">
	<META HTTP-EQUIV="expires" CONTENT="Wed, 26 Feb 1997 08:21:57 GMT">
	<META HTTP-EQUIV="expires" CONTENT="0">
    <title>江苏省两化深度融合诊断服务平台 | 推进两化深度融合，助力江苏制造业高质量发展</title>
	<meta name="keywords" content="两化融合,工业诊断,数字化,企业信息化,江苏制造业,制造业转型,智能制造,工业互联网,企业上云,精益生产">
	<meta name="description" content="江苏省两化深度融合诊断服务平台：实施线上诊断与线下服务，给出适合企业的精益之路，推进两化深度融合，助力江苏制造业高质量发展。">
  <!-- 方祥 CSS -->
  <link rel="stylesheet" href="../css/fangCss/shiJuan.css">

        <!-- 页头  页脚样式 -->
  <link rel="stylesheet" type="text/css" href="../css/common.css">
  <style>
    .xuanZe{line-height: 28px;}
    .xuanZe01{margin-left: 26px;font-weight:400;color:rgb(102,102,102);margin-top: 30px;}
    .xuanZe02{width: 100%;}
    .xuanZe03{display: flex;width: 100%;flex-flow: wrap;}
    .xuanZe04{width: 280px;height:280px}
    .xuanZe05{width: 280px;height:280px}
    .xuanZe06{width: 100%;text-align: center;margin-top: 40px;}
    .xuanZebtn01{width: 144px;height: 40px;background-color: #1E9FFF;border:1px solid #1E9FFF;color:#fff;border-radius:3px;font-size: 16px;}
    .xuanZebtn02{width: 144px;height: 40px;background-color: #1E9FFF;border:1px solid #1E9FFF;color:#fff;border-radius:3px;font-size: 16px;margin-left: 20px;}
    .myLiCapian{margin-left: 16px;}
    .hiddenCards{
      display: none;
    }

  </style>
  <script type="text/javascript" src="../js/jquery.min.js"></script>
  <script type="text/javascript" src="../js/common.js"></script>
  <script type="text/javascript" src="../js/layui/layui.all.js"></script>

</head>
<body  style="font-family: 微软雅黑;">
    <!-- 页头 -->
    <script src="../js/public/header.js"></script>

    <!-- 导航栏 -->
    <script src="../js/public/nav.js"></script>
    <!-- title -->
    <div id="xuanZe01">
      <div class="myShijuanTitle">
          <div>
              <div></div>
              <div>企业自评估
                  <span>
                      <span></span>
                  </span>
              </div>
          </div>
      </div>
      <!-- 试卷内容区域 -->
      <div class="container">
          <!-- 步骤 -->
          <div class="myShijuan">
              <div class="myShijuanBuzhou">
                  <img src="../images/Industrial/1_2.png" alt="">
              </div>
              <div>
                  <hr class="myHrClass">
              </div>
              <!-- 正文 -->
              <div class="myShijuanZhengwen">
                  <div>请选择拟申报的省级试点示范项目</div>
                  <div style="line-height: 28px;height: 80px;position: relative;">
                    <div>
                      <img style="margin-top: 10px;" src="../images/Industrial/gantanhao.png">
                      <span style="position: absolute;top: 10px;left: 35px;font-size: 14px;font-family: Arial,'Microsoft yahei';color: #333;">
                        提示：申报省级试点示范项目支持多选，申报省级试点示范项目须进行精益生产成熟度诊断，并完成相应项目的企业自评估。选择申报项目提交成功后，将不能再次进行选择。因此，请您根据企业实际情况，合理申报省级试点示范项目。
                      </span>
                    </div>
                      <!-- <div class="xuanZe01">例如：若本次申报只选择工业互联网平台建设项目，且提交成功后，则工业互联网平台建设项目和企业上云项目需要等到下次开通企业申报时，才能重新选择。</div> -->
                    </div>
                  <div><span></span></div>
              </div>
              <!-- 选项卡 -->
              <div class="xuanZe02">
                <ul class="xuanZe03">
                  <!-- 1 -->
                  <!-- <li>
                    <div class="xuanZe04">
                      <img class="xuanZe05" src="../images/Industrial/pic1.png">
                    </div>
                  </li> -->
                  <!-- 1 -->
                  <li class="myLiCapian">
                    <div class="xuanZe04">
                      <img class="xuanZe05" src="../images/Industrial/pic00.png">
                    </div>
                  </li>
                  <!-- 2 -->
                  <li id="myLi01" class="myLiCapian">
                    <div class="xuanZe04">
                      <img class="xuanZe05" src="../images/Industrial/pic1.png">
                    </div>
                  </li>
                  <!-- 2 -->
                  <li id="myLi001" class="myLiCapian hiddenCards">
                    <div class="xuanZe04">
                      <img class="xuanZe05" src="../images/Industrial/pic1-light.png">
                    </div>
                  </li>
                  <!-- 3 -->
                  <li id="myLi02" class="myLiCapian">
                    <div class="xuanZe04">
                      <img class="xuanZe05" src="../images/Industrial/pic2.png">
                    </div>
                  </li>
                  <!-- 3 -->
                  <li id="myLi002" class="myLiCapian hiddenCards">
                    <div class="xuanZe04">
                      <img class="xuanZe05" src="../images/Industrial/pic2-light.png">
                    </div>
                  </li>
                  <!-- 4 -->
                  <li id="myLi03" class="myLiCapian">
                    <div class="xuanZe04">
                      <img class="xuanZe05" src="../images/Industrial/pic3.png">
                    </div>
                  </li>
                  <!-- 4 -->
                  <li id="myLi003" class="myLiCapian hiddenCards">
                    <div class="xuanZe04">
                      <img class="xuanZe05" src="../images/Industrial/pic3-light.png">
                    </div>
                  </li>
                  <!-- 5 -->
                  <li class="myLiCapian" style="margin-top: 20px;">
                    <div class="xuanZe04">
                      <img class="xuanZe05" src="../images/Industrial/pic4.png">
                    </div>
                  </li>
                </ul>
              </div>
              <div class="xuanZe06">
                <button class="xuanZebtn01 hiddenCards" id="myBtn01" id01="0">下一步</button>
              </div>
          </div>
      </div>
    </div>

    <!-- 选定隐藏层 -->
    <div  class="myShijuan hiddenCards"  id="xuanZe02" style="margin-top: 10px;">
      <div style="margin-left: 16px;font-size: 18px;font-weight: bold;color: #333;">您确定只选择以下项进行企业自评估吗？
      </div>
      <div style="width: 100%;margin-top:40px">
        <ul class="xuanZe03">
          <!-- 1 -->
          <li class="myLiCapian">
            <div class="xuanZe04">
              <img class="xuanZe05" src="../images/Industrial/pic00.png">
            </div>
          </li>
          <!-- 2 -->
          <li id="cang01" class="myLiCapian">
            <div class="xuanZe04">
              <img class="xuanZe05" src="../images/Industrial/pic1-light.png">
            </div>
          </li>
          <!-- 3 -->
          <li  id="cang02" class="myLiCapian">
            <div class="xuanZe04">
              <img class="xuanZe05" src="../images/Industrial/pic2-light.png">
            </div>
          </li>
          <!-- 4 -->
          <li id="cang03" class="myLiCapian">
            <div class="xuanZe04">
              <img class="xuanZe05" src="../images/Industrial/pic3-light.png">
            </div>
          </li>
        </ul>
      </div>
      <div class="xuanZe06">
        <button id="myBtn02"  class="xuanZebtn01">取消</button>
        <button id="myBtn03"  class="xuanZebtn02" fa01="0" fa02="1" fa03="2" fa04="3">确定</button>
      </div>
</div>
    <!-- 页脚 -->
  <script src="../js/public/foot.js"></script>
  
	<script src="../js/choose.js"></script>

<!-- 选中显示隐藏 -->
<script type="text/javascript">
// 默认显示
  $(function(){
    $('#cang01').hide()
    $('#cang02').hide()
    $('#cang03').hide()
  })
// 每一套试卷点击
  $('#myLi01').click(function(){
    $('#myBtn01').show()
    $('#myBtn01').attr('id02','1')
    $('#myLi01').hide()
    $('#myLi001').show()
    // 调用函数
    del($('#myBtn01').attr('id02'))
    add($('#myBtn01').attr('id02'))
  })
  $('#myLi02').click(function(){
    $('#myBtn01').show()
    $('#myBtn01').attr('id03','2')
    $('#myLi02').hide()
    $('#myLi002').show()
    // 调用函数
    del($('#myBtn01').attr('id03'))
    add($('#myBtn01').attr('id03'))
  })
  $('#myLi03').click(function(){
    $('#myBtn01').show()
    $('#myBtn01').attr('id04','3')
    $('#myLi03').hide()
    $('#myLi003').show()
    // 调用函数
    del($('#myBtn01').attr('id04'))
    add($('#myBtn01').attr('id04'))
  })

// 选中状态切换
  $('#myLi001').click(function(){
    // 调用函数
    del($('#myBtn01').attr('id02'))
    $('#myBtn01').removeAttr('id02','1')
    $('#myLi001').hide()
    $('#myLi01').show()
    if ( arrChoose.length > 1 ) {
          $('#myBtn01').show()
      } else {
          $('#myBtn01').hide()
      }
  })
  $('#myLi002').click(function(){
    // 调用函数
    del($('#myBtn01').attr('id03'))
    $('#myBtn01').removeAttr('id03','2')
    $('#myLi002').hide()
    $('#myLi02').show()
    if ( arrChoose.length > 1 ) {
        $('#myBtn01').show()
    } else {
        $('#myBtn01').hide()
    }

  })
  $('#myLi003').click(function(){
    // 调用函数
    del($('#myBtn01').attr('id04'))
    $('#myBtn01').removeAttr('id04','3')
    $('#myLi003').hide()
    $('#myLi03').show()
    if ( arrChoose.length > 1 ) {
        $('#myBtn01').show()
    } else {
        $('#myBtn01').hide()
    }

  })


  // 下一步按钮点击 选中试卷的显示隐藏
  $('#myBtn01').click(function(){
    $('#xuanZe01').hide()
    $('#xuanZe02').show()
    // console.log("疼")
    if (arrChoose.length < 2) {
      layer.msg("请重新选择试卷");
      arrChoose = null
      window.location.reload();
    } else {
      for (var i = 0 ; i < arrChoose.length ; i++){
          if ( arrChoose[i] == $('#myBtn01').attr('id02') ) {
              $('#cang01').show()
    
          } else if ( arrChoose[i] == $('#myBtn01').attr('id03') ) {
              $('#cang02').show()
    
          } else if ( arrChoose[i] == $('#myBtn01').attr('id04') ) {
              $('#cang03').show()
    
          }
      }
    }

  })
  // 重新选择
  $('#myBtn02').click(function(){
    arrChoose = null
    window.location.reload();
  })
  // 确定并发送请求
  $('#myBtn03').click(function(){
    $("#myBtn03").hide()
    // 调用函数
    getArr(arrChoose)
    papersChoose = papersChoose.substring(0,papersChoose.length-1)
    console.log(papersChoose)
    $.ajax({
          type : 'get',
          url : ajaxUrl + "apply/createSelectType?papers=" + papersChoose,
          dataType: 'json',
          xhrFields: {
          withCredentials: true
          },
          crossDomain: true,
          success : function(res) {
              if (res.code == 200) {
                arrChoose = null;
                papersChoose = null;
                $("#myBtn03").show();
                // window.open('./zipingWeikaishi.html?nav=1','_self')
                  window.location.href = './zipingWeikaishi.html?nav=1';
              } else if( res.code == 501 ){
                arrChoose = null;
                papersChoose = null;
                layer.msg(res.msg);
                setTimeout(function(){
                  // window.open('./zipingWeikaishi.html?nav=1','_self')
                    window.location.href = './zipingWeikaishi.html?nav=1';
                  $("#myBtn03").show();
                },500)
              }
              else{
                arrChoose = null;
                papersChoose = null;
                $("#myBtn03").show();
                layer.msg(res.msg);
                // window.location.reload();
              }
            } ,
            error : function(err) {
              arrChoose = null;
              papersChoose = null;
              $("#myBtn03").show();
              layer.msg("请求失败");
              window.location.reload();
            }
      })
  })
</script>
<!-- 百度统计代码 -->
<script>
    /*制造云全站*/
    var _hmt = _hmt || [];
    (function () {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?6d0c6f3521dfad65307b120c3dbc89bc";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>
<script>
    /*江苏诊断平台*/
    var _hmt = _hmt || [];
    (function () {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?23626bd15d8ecf521e03ba03b0f2eca0";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>
<script>
    /*判断入口*/
    function checkIsIEView() {
        try {
            var status = window.external.isIEViewer();
            if (status == 1) {
                return true;
            } else {
                return false;
            }
        } catch (e) {
            return false;
        }
    }
    /*PC客户端/PC网页端*/
    var isOn = checkIsIEView();
    if (isOn) {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?4830e1584feb0161d16abb6d4938a601";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    } else {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?ac5827d87107aa017ca84a83ac6bd1a1";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    }
</script>
</body>
</html>
