@charset "utf-8";
/* CSS Document */

/*banner*/
.banner{background: url(../images/banner.jpg) no-repeat center top;height: 400px;min-width: 1190px;}
.banner_center{width: 1190px;margin: 0 auto;padding-top: 110px;}
.banner_tit{font-size: 36px;color: #fff;margin-bottom: 20px;}
.banner_info{font-size: 16px;color: #f0f0f1;width: 700px;line-height: 26px;}

/*container*/
.main_box{width: 1190px;margin: 30px auto;overflow: hidden;position: relative;}
.cont_left{float: left;width: 225px;}
.cont_type{border: 1px solid #efeeef;width: 210px;background: #fff;}
.fixed_top{position: fixed;top: 50px;}
.fixed_bottom{position: absolute;bottom: 0px;}
.cont_type li{width: 210px;height: 70px;border-bottom: 1px solid #e0e0e0;position: relative;}
.cont_type li:last-child{border-bottom: 0px;}
.cont_type li a{font-size:16px; line-height:70px; color:#444; padding:0; padding-left:25px;display: block;}
.cont_type li.active a,.cont_type li a:hover{color:#fff;background: #1f8dfb;}
.ico_type{background: url(../images/ico_type.png) no-repeat;display: inline-block;vertical-align: middle;margin-right: 10px;margin-top: 5px;}
.ico_01{width: 30px;height: 30px;background-position: 0px 0px;}
.ico_02{width: 30px;height: 30px;background-position: 0px -30px;margin-top: 2px;}
.ico_03{width: 30px;height: 30px;background-position: 0px -60px;}
.ico_04{width: 30px;height: 30px;background-position: 0px -90px;margin-top: 2px;}
.ico_05{width: 30px;height: 30px;background-position: 0px -120px;}
.ico_06{width: 30px;height: 30px;background-position: 0px -150px;}
.ico_07{width: 30px;height: 30px;background-position: 0px -180px;}
.ico_08{width: 30px;height: 30px;background-position: 0px -210px;margin-top: 2px;}
.cont_type li.active .ico_01,.cont_type li:hover .ico_01{background-position: -30px 0px;}
.cont_type li.active .ico_02,.cont_type li:hover .ico_02{background-position: -30px -30px;}
.cont_type li.active .ico_03,.cont_type li:hover .ico_03{background-position: -30px -60px;}
.cont_type li.active .ico_04,.cont_type li:hover .ico_04{background-position: -30px -90px;}
.cont_type li.active .ico_05,.cont_type li:hover .ico_05{background-position: -30px -120px;}
.cont_type li.active .ico_06,.cont_type li:hover .ico_06{background-position: -30px -150px;}
.cont_type li.active .ico_07,.cont_type li:hover .ico_07{background-position: -30px -180px;}
.cont_type li.active .ico_08,.cont_type li:hover .ico_08{background-position: -30px -210px;}
.cont_type li.active .ico_sj{border-top: 10px solid transparent;border-bottom: 10px solid transparent;border-left: 10px solid #1f8dfb;position: absolute;right: -10px;top: 25px;}

.cont_right{float: right;width: 945px;}
.cont_box{}
.cont_tit{font-size: 30px;color: #333;text-align: center;border-bottom: 1px solid #d8d8d8;line-height: 70px;padding-bottom: 25px;margin-bottom: 25px;}
.p_t1{font-size: 22px;color: #222;padding: 0px 10px;margin-bottom: 30px;}
.p_t1 i{display: inline-block;width: 4px;height: 25px;background: #1f8dfb;vertical-align: middle;margin-top: -5px;margin-right: 15px;}
.p_p1{font-size: 16px;color: #666;padding: 0px 10px;line-height: 30px;margin-bottom: 40px;}
.cont_img{text-align: center;}
.cont_line{border-bottom: 1px solid #d8d8d8;margin: 40px auto;}
.p_li{overflow: hidden;padding: 0 10px;}
.p_li li{margin-bottom: 20px;}
.p_li li:last-child{margin-bottom: 0px;}
.p_li li i{float: left;display: block;background: url(../images/ico_li.png) no-repeat center top;width: 16px;height: 16px;vertical-align: middle;margin-top: 5px;margin-right: 10px;}
.p_li li span{font-size: 16px;color: #666;display: inline-block;width: 898px;line-height: 25px;}
.tj_li{overflow: hidden;padding: 0 10px;}
.tj_li li{float: left;margin-right: 38px;margin-bottom: 30px;}
.tj_li li a{display: block;width: 184px;height: 50px;border: 1px solid #d8d8d8;background: #f5f6f8;text-align: center;line-height: 50px;font-size: 18px;color: #444;}
