.submitCompleted{
 width:100%;
}
.submitCompleted .main{
    padding: 45px 0;
    width:800px;
    height:335px;
    background: #f5f5f5;
    margin: 0 auto;
    box-sizing: border-box;
   }
.common_width{
    width:100%;
}
.one_width{
    width:480px;
    height:40px;
    margin: 0 auto;
}
.words_one{
    font-size: 19px;
    line-height: 40px;
    margin-left:10px;
}
.words_two{
    width:370px;
    margin: 0 auto;
    line-height: 40px;
    color: #767676;
}
.words_three{
    width:370px;
    margin: 20px auto;
}